<div class="panel panel-default">
  <div class="panel-body">

    <% if collection.present? %>
      <%= content_tag :p, fa_icon('link')+' '+link_to(sti_source_url(collection.type, collection), sti_source_path(collection.type, collection)) %>
      <%= content_tag :p, fa_icon(collection.icon)+' '+link_to(collection.type, sti_source_path(collection.type)) %>

      <%= link_to(fa_icon("edit", text: 'Edit'), sti_source_path(collection.type, collection, :edit), class: 'btn btn-sm btn-warning text-strong pull-right', style: 'margin-top: 5px;') if can? :edit, collection %>
      <%= content_tag :h3, link_to("#{collection.name_tree}", sti_source_path(collection.type, collection)) %>
  
      <table class="table table-striped">
        <tbody>
          <% collection.type_data.each do |k,v|%>
            <%= content_tag :tr do %>
              <th><%= k.humanize %>:</th>
              <td><%= link_to v, sources_path(search: v) %></td>
            <% end if v.present? %>
          <% end if collection.type_data %>

        </tbody>
      </table>

      <%= content_tag :div do %>

      <% end %>
    <% end %>
  </div>
</div>