<%= simple_form_for(@source) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :parent_id, collection: [@source.parent], input_html: {id: 'source_parent_id' }, selected: @source.parent_id, label: 'Nesting' %>
        <%= f.input :identifier_stable %>
      </div>
      <div class="col-md-4">
        <%= f.input :type, disabled: true, input_html: {style: 'margin-bottom:20px;'} %>
        <%= f.input :identifier_temp %>
      </div>
      <div class="col-md-8">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :tag_list, 
          as: :string,
          input_html: {
            value: @source.tag_list.join(','),
            class: 'concepts_selectize' }, 
          label: "Tags".html_safe,
          hint: "Add tags to categorize the #{@source.type.downcase} and make it more discoverable." %>

        <% @source.class.jsonb_attributes.each do |p| %>
          <%= f.input p %>
        <% end %>
        <hr>
        <%= f.input :remarks %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-md-6">
        <hr>
        <%= f.submit class: 'btn btn-primary text-strong' %>
        <%= link_to 'Cancel', (@source.new_record? ? sources_path : @source), class: "btn btn-default text-strong" %>
      </div>
    </div>
  </div>
<% end %>
