<div class="panel panel-default">
  <div class="panel-body">

    <% if source.present? %>
      <%= content_tag :p, fa_icon('link')+' '+link_to(sti_source_url(source.type, source), sti_source_path(source.type, source)) %>
      <%= content_tag :p, fa_icon(source.icon)+' '+link_to(source.type, sti_source_path(source.type)) %>

      <%= link_to(fa_icon("edit", text: 'Edit'), sti_source_path(source.type, source, :edit), class: 'btn btn-sm btn-warning pull-right', style: 'margin-top: 5px;') if can? :edit, source %>
      <%= content_tag :h3, link_to("#{source.name_tree}", sti_source_path(source.type, source)) %>
  
      <table class="table table-striped">
        <tbody>
          <% source.type_data.each do |k,v|%>
            <%= content_tag :tr do %>
              <th><%= k.humanize %>:</th>
              <td><%= link_to v, sources_path(search: v) %></td>
            <% end if v.present? %>
          <% end if source.type_data %>

        </tbody>
      </table>

      <%= content_tag :div do %>

      <% end %>
    <% end %>
  </div>
</div>