<div class="panel panel-default">
  <div class="panel-body">

    <% if source.present? %>
      <%= content_tag :p, fa_icon('link')+' '+link_to(source_url(source), source_path(source)) %>

      <%= link_to(fa_icon("edit", text: 'Edit'), edit_source_path(source), class: 'btn btn-sm btn-warning text-strong pull-right', style: 'margin-top: 5px;') if can? :edit, source %>
      <%= content_tag :h3, link_to("#{source.name}", source_path(source)) %>
  
      <table class="table table-striped">
        <tbody>
          <%= content_tag :tr do %>
            <th style="width:30%;">Archive</th>
            <td><%= source.archive.try(:name)%></td>
          <% end %>
          <% source.attributes.each do |k,v| %>
            <%= content_tag :tr do %>
              <th><%= k.humanize %></th>
              <td><%= v %></td>
            <% end if v.present? && k.in?(%w[collection call_number sheet title provenance period author size]) %>
          <% end %>

        </tbody>
      </table>

    <% end %>
  </div>
</div>