<% title "Sources", false %>

<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= form_tag sources_path, :method => 'get', remote: true do %>
      <div class="form-inline row">
        <div class="form-group col-md-8 col-sm-8">
          <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:38px;"><%= link_to fa_icon('search'), '' %></span>
            <%= search_field_tag 'search', params[:search], placeholder: "Search in all fields", class: 'form-control' %>
          </div>
        </div>
        <div class="form-group col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
          <%= select_tag 'sorted_by', options_for_select(Source.options_for_sorted_by, params[:sorted_by]), include_blank: 'Score', class: 'form-control pull-right', onchange: "this.form.submit()" %>
        </div>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="margin-top:10px;">
        <%= content_tag :div, class: 'panel panel-default' do %>
          <div class="panel-heading" role="tab" id="AdminFilterHeading">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#AdminFilter" aria-expanded="false" aria-controls="AdminFilter">
                Administrative filters
              </a>
            </h4>
          </div>
          <div id="AdminFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AdminFilterHeading">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= check_box_tag :with_published_records, true, params[:with_published_records], onchange: "this.form.submit()" %>
                    <%= label_tag(:with_published_records, 'Published records only') %>
                  </div>
                  <div class="form-group">
                    <%= check_box_tag :with_unshared_records, true, params[:with_unshared_records], onchange: "this.form.submit()" %>
                    <%= label_tag(:with_unshared_records, 'Records not shared to anyone') %>
                  </div>
                  <div class="form-group">
                    <%= label_tag(:with_user_shared_to_like, 'Records shared to') %>
                    <%= select_tag(:with_user_shared_to_like, options_from_collection_for_select(User.all, 'id', 'name', params[:with_user_shared_to_like]), include_blank: '- Any -', class: 'form-control', onchange: "this.form.submit()") %>
                    <p class="text-muted">Results also include groups a user belongs to</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end if can_create? || can_administrate? %>
      </div>
    <% end %> 
  </div>
</div>

<div class="row">
  <div class="col-md-7">

    <div class="well" style="padding:10px 10px;">
      <span id="page-result-info">
        <%= page_entries_info @sources, model: 'Source' %>
      </span>
      <%= link_to('Reset', sources_path, class: 'pull-right btn btn-sm btn-default', style: 'margin-top: -2px;line-height:1;') %>
    </div>
    <%= render(partial: 'sources/list', locals: { sources: @sources }) if @sources.any? %>
    <div style="margin-top: 20px; margin-bottom: 10px;">
      <%= render 'shared/per_page' %>
    </div>
  </div>

  <div class="col-md-5">
    <%= content_tag :div, class: 'clearfix' do %>
      <%= content_tag :div, id: 'sidebar-btn-add-section', class: 'btn-group' do %>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon("plus") %> New <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% for type in Source.types do %>
            <%= content_tag :li, link_to(type, sti_source_path(type, nil, :new)) %>
          <% end %>    
        </ul>
      <% end if can? :create, Source %>
      <%= link_to fa_icon('share-alt', text: 'Sharing'),"#record-access-settings", class: 'btn btn-warning', data: {toggle: 'collapse'} if can_administrate? %>
      <hr>
    <% end if current_user %>

    <%= content_tag :div, id: "show-target", data: {spy: 'affix', 'offset-top': "60"} do %>
      <%= render partial: 'sources/show', locals: { source: @sources.first }%>
    <% end if !browser.device.mobile? &&  @sources.any? %>
  </div>
</div>