<% title "#{@source.name} | Sources", false %>

<% content_for(:buttons) do %>
  <%= link_to 'View json', [@source, format: :json], class: 'btn btn-default btn-sm text-strong' %>
  <% if @source.locked? %>
    This object is currently locked. <%= 'Because it is published.' if @source.published? %>
    <%= link_to fa_icon('unlock', text: 'Unlock'), [:unlock, @source], method: :put, class: 'btn btn-default btn-sm text-strong' if can?(:unlock, @source) %>
  <% else %>
    <button type="button" class="btn btn-default btn-sm text-strong" data-toggle="modal" data-target="#access-settings">
      <%= fa_icon('eye', text: 'Accessibility') %>
    </button>
    <%= link_to fa_icon('check-square-o', text: 'Publish'), [:publish, @source], method: :put, class: 'btn btn-default btn-sm text-strong' if can?(:publish, @source) %>
  <% end %>
  <%= link_to fa_icon("edit", text: 'Edit'), edit_source_path(@source), 
    class: 'btn btn-warning btn-sm text-strong' if can?(:edit, @source) %>
  <%= link_to fa_icon("remove", text: 'Delete'), @source, 
    method: :delete, 
    data: { confirm: 'Are you sure?' }, 
    class: 'btn btn-danger btn-sm text-strong' if can?(:destroy, @source) %>
<% end unless @version %>


<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= content_tag :li, link_to('All sources', sources_path) %>
      <%= content_tag :li, link_to(@source.archive.name, sources_path(search: "archive:#{'"'+@source.archive.name+'"'}")) %>  
      <% @source.ancestors.reverse.each do |e| %>
        <%= content_tag :li, link_to(e.name, e) %>
      <% end %>
      <%= content_tag :li, @source.name, class: 'active' %>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <%= content_tag :div, id: "object-#{@source.id}", style: 'padding-top:10px;padding-bottom:10px;' do %>
      <%= content_tag :div, class: "tags", style: "padding:10px 0;" do %>
        <%= @source.tags.map{|t| content_tag(:span, link_to(t.name, t.try(:url), style: 'color:white;', target: :_blank), class: 'badge')}.join(' ').html_safe %>
      <% end if @source.tags.any? %>
      <%= render 'shared/display_files' if @files.present? %>
      <table class="table table-striped">
        <tbody>
          <%= content_tag :tr do %>
            <th style="width:30%;">Archive</th>
            <td><%= link_to @source.archive.name, sources_path(search: "archive:#{'"'+@source.archive.name+'"'}") %></td>
          <% end %>
          <%= content_tag :tr do %>
            <th>Belongs to</th>
            <td><%= link_to @source.parent.try(:name), @source.parent %></td>
          <% end if @source.parent %>
          <% @source.attributes.each do |k,v| %>
            <%= content_tag :tr do %>
              <th><%= k.humanize %></th>
              <td><%= v %></td>
            <% end if v.present? && !k.in?(%w[archive_id parent_id id created_at updated_at slug relevance relevance_comment digitize_remarks]) %>
          <% end %>
          <%= content_tag :tr do %>
            <th>Relevance</th>
            <td><%= @source.relevance.map{|r| Source::REL_TYPES.select{|k,v| k == r.to_i }.map{|l| link_to(l.last, sources_path(search: "relevance:#{'"' + l.last + '"'}"))} }.join(', ').html_safe %></td>
          <% end if @source.relevance.present? %>
          <%= content_tag :tr do %>
            <th>Relevance comment</th>
            <td><%= @source.relevance_comment %></td>
          <% end if @source.relevance_comment.present? %>
          <%= content_tag :tr do %>
            <th>Digitalization</th>
            <td><%= @source.digitize_remarks.map{|r| Source::DIGI_TYPES.select{|k,v| k == r.to_i }.map{|l| link_to(l.last, sources_path(search: "digital:#{'"' + l.last + '"'}"))} }.join(', ').html_safe %></td>
          <% end if @source.digitize_remarks.present? %>
        </tbody>
      </table>
    <% end %>
    <%= content_tag :h4, "Elements in #{@source.name}", class: 'text-gray' if @source.children.any? && !@version %>
    <%= render @source.children.order(sheet: :asc) if @source.children.any? && !@version %>

    <%= content_tag :div, id: 'attachments-positions' do %>
      <h4>Illustrates</h4>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <td></td>
            <td>Object</td>
            <td>
              Position 
              <%= link_to fa_icon('info'), 'javascript:;',
                class: 'label label-info', 
                data: {toggle: 'tooltip', placement: 'left'}, 
                title: 'First number counts row from top to bottom, second number counts position from left to right, e.g. PhBab 1867 (4 2) means artifact ist displayed in 4th row from top and 2nd position from left on picture PhBab 1867.' %>
              </td>
          </tr>
        </thead>
        <tbody>
          <% @occurences.each_with_index do |occ, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= link_to (occ.artefact.name), occ.artefact if occ.artefact %></td>
              <td><%= occ.position %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end if @occurences.present? %>

    <%= content_tag :div, id: 'publ-refs' do %>
      <h4>Published in</h4>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <td>Publikation</td>
            <td>Seite</td>
          </tr>
        </thead>
        <tbody>
          <% @source.literature_item_sources.each do |r| %>
            <tr>
              <td><%= link_to r.literature_item.title, r.literature_item %></td>
              <td><%= r.locator %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end if @source.publications.any? || @source.literature_items.any?  %>

    <%= content_tag :div, id: 'stats', class: '--spacious' do %>
      <%= link_to 'Toggle stats', "#collapse-stats-on-#{@source.id}", 
        data: { toggle: 'collapse' }, 
        aria: {expanded: 'false', controls: "collapse-stats-on-#{@source.id}"}, 
        class: 'toggle-link', 
        role: 'button' %>
      <%= content_tag :div, class: 'collapse more-stats', id: "collapse-stats-on-#{@source.id}" do %>
        <%= pie_chart(@contributions, width: "100%", height: "180px", legend: "right") %>
        <p class="text-small text-muted text-center" style="margin-top:10px;">
          Changed characters by contributor.
        </p>
        <%= line_chart(@growth, height: '180px') %>
        <p class="text-small text-muted text-center" style="margin-top:10px;">Total characters changed.</p>
      <% end %>
    <% end %>

  </div>

  <div class="col-md-4 col-md-offset-1">

      <% @attachments.each do |file| %>
        <%= link_to file.file_url, class: 'lightbox-link' do %>
          <%= image_tag file.file_url, class: 'img-responsive thumbnail', style: 'margin-bottom: 0px;' %>
        <% end %>
        <%= content_tag :p, link_to(file.file_id, file.html_url, class: 'text-small'), style: 'margin-bottom:20px;' %>
      <% end unless @version %>
    
  </div>

</div>

<% content_for :modals do %>
  <!-- Modal -->
  <div class="modal fade" id="access-settings" tabindex="-1" role="dialog" aria-labelledby="access-settings-heading">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="access-settings-heading">Accessibility settings</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'grants/list', locals: { resource: @source } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default text-strong" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>