<% title "#{@source.name_tree}" %>

<% content_for(:buttons) do %>
  <% if @source.locked? %>
    This object is currently locked. <%= 'Because it is published.' if @source.published? %>
    <%= link_to fa_icon('unlock', text: 'Unlock'), [:unlock, @source], method: :put, class: 'btn btn-default btn-sm text-strong' if can?(:unlock, @source) %>
  <% else %>
    <button type="button" class="btn btn-default btn-sm text-strong" data-toggle="modal" data-target="#access-settings">
      <%= fa_icon('eye', text: 'Accessibility') %>
    </button>
    <%= link_to fa_icon('check-square-o', text: 'Publish'), [:publish, @source], method: :put, class: 'btn btn-default btn-sm text-strong' if can?(:publish, @source) %>
  <% end %>
  <%= content_tag :div, class: "btn-group" do %>
    <button type="button" class="btn btn-success btn-sm text-strong dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon("plus") %> New <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% for type in @source.class.subtypes do %>
        <%= content_tag :li, link_to(type, sti_source_path(type, nil, :new, parent_id: @source.id)) %>
      <% end %>
    </ul>
  <% end if can?(:create, Source) %>
  <%= link_to fa_icon("edit", text: 'Edit'), sti_source_path(@source.type, @source, :edit), 
    class: 'btn btn-warning btn-sm text-strong' if can?(:edit, @source) %>
  <%= link_to fa_icon("remove", text: 'Delete'), @source, 
    method: :delete, 
    data: { confirm: 'Are you sure?' }, 
    class: 'btn btn-danger btn-sm text-strong' if can?(:destroy, @source) %>
<% end unless @version%>


<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= content_tag :li, link_to('All sources', sources_path) %>      
      <% @source.ancestors.reverse.each do |e| %>
        <%= content_tag :li, link_to(e.name, e) %>
      <% end %>
      <%= content_tag :li, @source.name, class: 'active' %>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <%= content_tag :div, id: "object-#{@source.id}", style: 'padding-top:10px;padding-bottom:10px;' do %>
      <%= content_tag :h3, class: 'text-muted' do %>
        <%= fa_icon(@source.icon) %>
        <%= @source.name %>
      <% end %>
      <%= content_tag :div, class: "tags", style: "padding:10px 0;" do %>
        <%= @source.tags.map{|t| content_tag(:span, link_to(t.name, t.try(:url), style: 'color:white;', target: :_blank), class: 'badge')}.join(' ').html_safe %>
      <% end if @source.tags.any? %>
      <%= content_tag :p, @source.remarks, class: 'text-muted' if @source.remarks %>
      <%= render 'shared/display_files' if @files.present? %>
      <table class="table table-striped">
        <tbody>
            <tr>
              <th>Full identifier</th>
              <td><%= @source.name_tree %></td>
            </tr>
            <tr>
              <th>Link:</th>
              <td><%= link_to fa_icon('link', text: polymorphic_url(@source)), polymorphic_url(@source) %> </td>
            </tr>
            <% @source.type_data.each do |k,v|%>
              <%= content_tag :tr do %>
                <th><%= k.humanize %>:</th>
                <td><%= link_to v, sources_path(search: v) %></td>
              <% end if v %>
            <% end if @source.type_data %>
            <%= content_tag :tr do %>
              <th>References:</th>
              <td><%= @ref.map{ |r| r.title }.join(', ').html_safe %></td>
            <% end if @ref.present? %>
        </tbody>
      </table>
    <% end %>
    <%= render partial: "child", collection: @source.children %>
  </div>

  <div class="col-md-5">

      <%= content_tag :div, id: 'stats' do %>
        <%= pie_chart(@contributions, width: "100%", height: "180px", legend: "right") %>
        <p class="text-small text-muted text-center" style="margin-top:10px;">
          Changed characters by contributor.
          <%= link_to 'View more stats', "#collapse-stats-on-#{@source.id}", 
            data: { toggle: 'collapse' }, 
            aria: {expanded: 'false', controls: "collapse-stats-on-#{@source.id}"}, 
            class: 'toggle-link', 
            role: 'button' %>
        </p>
        <%= content_tag :div, class: 'collapse more-stats', id: "collapse-stats-on-#{@source.id}" do %>
          <%= line_chart(@growth, height: '180px') %>
          <p class="text-small text-muted text-center" style="margin-top:10px;">Total characters changed.</p>
        <% end %>
      <% end %>


      <%= content_tag :div, id: "similar-objects", class: '--spacious' do %>
        <h4>Similar objects</h4>
        <div class="list-group">
          <%= render @source_similar %>
        </div>
      <% end if @source_similar.any? %>

      <%= content_tag :div, id: 'image-positions' do %>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <td></td>
              <td>Object</td>
              <td>
                Position 
                <%= link_to fa_icon('info'), 'javascript:;',
                  class: 'label label-info', 
                  data: {toggle: 'tooltip', placement: 'left'}, 
                  title: 'First number counts row from top to bottom, second number counts position from left to right, e.g. PhBab 1867 (4 2) means artifact ist displayed in 4th row from top and 2nd position from left on picture PhBab 1867.' %>
                </td>
            </tr>
          </thead>
          <tbody>
            <% @occurences.each_with_index do |occ, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= link_to (occ.artefact.grabung ? occ.artefact.bab_name : occ.artefact.mus_name), occ.artefact if occ.artefact %></td>
                <td><%= occ.position %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end if @source.type = 'Photo' && @occurences.present? %>
    
  </div>

</div>

<% content_for :modals do %>
  <!-- Modal -->
  <div class="modal fade" id="access-settings" tabindex="-1" role="dialog" aria-labelledby="access-settings-heading">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="access-settings-heading">Accessibility settings</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'grants/list', locals: { resource: @source } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default text-strong" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>