<div class="panel panel-default">
  <div class="panel-body">

    <% if contract.present? %>
      <%= content_tag :p, fa_icon('link')+' '+link_to(sti_source_url(contract.type, contract), sti_source_path(contract.type, contract)) %>
      <%= content_tag :p, fa_icon(contract.icon)+' '+link_to(contract.type, sti_source_path(contract.type)) %>

      <%= link_to(fa_icon("edit", text: 'Edit'), sti_source_path(contract.type, contract, :edit), class: 'btn btn-sm btn-warning text-strong pull-right', style: 'margin-top: 5px;') if can? :edit, contract %>
      <%= content_tag :h3, link_to("#{contract.name_tree}", sti_source_path(contract.type, contract)) %>
  
      <table class="table table-striped">
        <tbody>
          <% contract.type_data.each do |k,v|%>
            <%= content_tag :tr do %>
              <th><%= k.humanize %>:</th>
              <td><%= link_to v, sources_path(search: v) %></td>
            <% end if v.present? %>
          <% end if contract.type_data %>

        </tbody>
      </table>

      <%= content_tag :div do %>

      <% end %>
    <% end %>
  </div>
</div>