<% title 'References', false %>

<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <strong>Distinct references: </strong>
    <span class="label label-default"><%= @distinct.count %></span>
    <%= @distinct.map{ |k,e| link_to "#{k[0]} #{k[1]}, #{k[2]}", references_path(ver: k[0], jahr:k[1], publ: k[2]) }.join(', ').html_safe %>
  </div>
  <div class="col-md-12" style="margin-bottom:10px;">
    <div class="well" style="padding:10px 10px;">
      <%= page_entries_info @references, model: 'Reference' %>
      <%= link_to('Reset', references_path, class: 'pull-right btn btn-sm btn-default', style: 'margin-top: -2px;line-height:1;') %>
    </div>
    <%= will_paginate @references, renderer: BootstrapPagination::Rails %>
  </div>
</div>


<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Verfasser</th>
      <th>Jahr</th>
	  <th>Publ</th>
	  <th>Seite</th>
      <th>Links</th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |r| %>
      <tr>
        <td><%= r.ver %></td>
        <td><%= r.jahr %></td>
        <td><%= r.publ %></td>
        <td><%= r.seite %></td>
        <td><%= link_to (r.artefact.grabung ? r.artefact.bab_name : r.artefact.mus_name), r.artefact if r.artefact %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-top: 20px; margin-bottom: 10px;">
  <%= render 'shared/per_page' %>
</div>