<div class="panel panel-default" id="sheet<%= @sheet.id %>">
  <div class="panel-heading">
    <%= content_tag :h5 do %>
      <%= "Sheet: #{content_tag :span, @sheet.name, class: 'text-strong'}".html_safe %>
      <span class="text-small"><%= pluralize(@sheet.headers_count, 'column') %>, <%= pluralize(@sheet.rows_count, 'row') %></span>
      <%= simple_form_for @sheet, url: import_event_sheet_path(@event, @sheet), remote: true do |f| %>
        <%= f.input :model_mapping, collection: [f.object.model_mapping].concat(@model_types).compact.uniq, input_html: {class: 'autosubmit'} %>
      <% end %>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="list-group" id="headers_forms">
      <%= render partial: 'import/headers/form', collection: @sheet.headers.order(id: :asc), as: :header %>
    </div>
  </div>
</div>