<% title "You are logged in as #{current_user.name}", false %>

<div class="row">
  <div class="col-md-12">
    <h1>User settings</h1>
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= content_tag :strong, "You are logged in as #{current_user.name}" %>
      </div>
      <div class="panel-body">
        <p>
          Personal API Access Token for this application is: <strong><%= current_user.token %></strong>
        </p>
        <div id="current-user-app-accessibilities" style="margin-top:30px">
          <%= content_tag :h5, "Current accessibilities are:" %>
          <ul>
            <%= content_tag :li, 'manage everything' if current_user.is_admin? %>
            <%= content_tag :li, 'create records' if current_user.is_creator? %>
            <%= content_tag :li, 'read published records or records shared with you' if current_user %>
            <%= content_tag :li, "read records shared with your groups: #{content_tag :strong, current_user.group_list}".html_safe if current_user.groups.any? %>
            <%= content_tag :li, 'update records where edit accessibilities have been assigned to you or your groups' if current_user %>
            <%= content_tag :li, 'remove records which you have created or you have update abilities' if current_user %>
            <%= content_tag :li, 'comment on records' if current_user.app_commentator %>
            <%= content_tag :li, 'publish records' if current_user.is_publisher? %>
          </ul>
        </div>
        <div id ="current-user-search-accessibilities" style="margin-top:30px">
          <%= content_tag :h5, "Connected repositories:" %>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <td>Name</td>
                <td>Search-URL</td>
                <td>Owner</td>
                <td>Connectivity provider</td>
            </thead>
            <tbody>
              <% for app in current_user_repos do %>
                <%= content_tag :tr do %>
                  <%= content_tag :td, link_to(content_tag(:strong, app.name), "#{app.host}#{':'+app.port.to_s if app.port}", target: :blank) %>
                  <%= content_tag :td, app.collection_classes.map{ |c| c.repo_api_url }.join(', ') %>
                  <%= content_tag :td, link_to(app.owner.display_name, '') %>
                  <%= content_tag :td, link_to("Babili", app.provider_presentation_human) %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <p class="text-muted">
          Personal access token for Babili is: <strong><%= @access_token.token %></strong>
        </p>
      </div>

      <div class="panel-footer">
        <%= link_to fa_icon('caret-square-o-up', text: 'Recreate application token and send to babili'), add_token_to_babili_users_path, class: 'btn btn-xs btn-warning' %>
        <%= link_to fa_icon('caret-square-o-down', text: 'Renew your accessibilities through babili'), get_accessibilities_users_path, class: 'btn btn-xs btn-info' %>
      </div>
    </div>
    <%= content_tag :div, class: '--spacious' do %>
      <h1>Record treatment</h1>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>Description</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>This will update any tag-concept with the content from babylon-online.org. </td>
            <td>
              <%= link_to 'Update all concepts', update_concept_data_tags_path, method: :post, data: {confirm: "Are you sure? This may take some time because of reindexing artefacts and sources after update."} %>
            </td>
          </tr>
          <tr>
            <td>This will update any literature item with the content from babylon-online.org. </td>
            <td>
              <%= link_to 'Update all literature items', update_biblio_data_literature_items_path, method: :post, data: {confirm: "Are you sure? This may take some time because of reindexing artefacts and sources after update."} %>
            </td>
          </tr>
          <tr>
            <td>This will transfer all entries attributes "Ver", "Jahr" and "Publ" from the import table ArtefactReferences as a normalized form in the LiteratureItem table. It will create new Literature entries or assign existing ones to the artefact-references relation.</td>
            <td><%= link_to 'Normalize artefact-references to artefacts-literatureItems', normalize_to_literature_item_artefact_references_path, method: :post, data: {confirm: "Are you sure?"} %></td>
          </tr>
          <tr>
            <td>This will transfer all entries with a phRel given in artefact-references into a relation table called literature_item_source.</td>
            <td><%= link_to 'Normalize artefact-references to sources-literatureItems', extract_to_literature_item_source_artefact_references_path, method: :post, data: {confirm: "Are you sure?"} %></td>
          </tr>
        </tbody>
      </table>

    <% end if can_administrate?%>
  </div>
</div>