<%= content_tag :div, class: 'flex-images' do %>
  <% @files.each do |file| %>
    <%= content_tag :div, class: 'item', data: {w: file['files']['size_320']['width'], h: file['files']['size_320']['height']} do %>
      <%= link_to "#{file['files']['size_1280']['url']}&access_token=#{@commons.user_access_token}", class: 'lightbox-link' do %>
        <%= image_tag("#{file['files']['size_320']['url']}&access_token=#{@commons.user_access_token}") %>
      <% end %>
      <div class="over">
        <%= file['name'] if file['name'] %>
        <%= link_to fa_icon('external-link', text: 'Commons'), file['links']['human'], target: :_blank, class: 'pull-right' %><br>
        <%= content_tag :small do %>
          &copy; <%= file['file_copyright'] %> <%= file['file_copyright_details'] %>
        <% end if file['file_copyright'] %>
      </div>
    <% end %>
  <% end %>
<% end if @files.present? %>