<%= content_tag :li, link_to(fa_icon('database', text: "Artefacts"), artefacts_path), class: ('active' if current_page?(artefacts_url)) %>
<%= content_tag :li, link_to(fa_icon('photo', text: "Photos"), photos_path), class: ('active' if current_page?(photos_url)) %>
<%= content_tag :li, link_to(fa_icon('users', text: "Historic people"), people_path), class: ('active' if current_page?(people_url)) %>
<%= content_tag :li, link_to(fa_icon('book', text: "References"), references_path), class: ('active' if current_page?(references_url)) %> 

<hr>
<% if can?(:import, Artefact) %> 
  <%= content_tag :li, link_to(fa_icon('upload', text: "Import"), imports_path), class: ('active' if current_page?(imports_url)) %>
  <hr>
<% end %>
<%= content_tag :li, link_to('API', api_path), class: ('active' if current_page?(api_url)) %>
<%= content_tag :li, link_to('Help', help_path), class: ('active' if current_page?(help_path)) %></li>


            
     

