
<div class="page-header">
  <h2>
    ADGB - Artefakte und Archivalien der Deutschen Grabungen Babylon<br>
    <small>adgb.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= form_tag search_path, method: :get, class: "" do %>
    <div class="form-inline row">
      <div class="form-group col-md-12 col-sm-12" style="display: flex; justify-content: space-between;">
        <div class="input-group" style="flex-grow:1;margin-right:10px;">
          <div class="input-group-addon" style="width:40px;"><%= link_to fa_icon('info'), 'http://babylon-online.org/help/articles/suchen-und-filtern-in-der-app-artefacts', target: :_blank, title: 'Open info page on searching', data: {toggle: 'tooltip', placement: 'bottom'} %></div>
          <div class="input-group-addon" style="width:40px;"><%= link_to fa_icon('times-circle'), root_path, title: 'Remove all filters / reset page', data: {toggle: 'tooltip', placement: 'bottom'}  %></div>
          <%= search_field_tag 'search', params[:search], placeholder: "Search in all fields", class: 'form-control' %>
        </div>
        <%= submit_tag 'Go!', class: 'btn btn-primary', style: 'width:100px;', data: { disable_with: "Loading..." } %>
      </div>
    </div>
      <%= content_tag :div, class: 'text-center tag-cloud --spacious' do %>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, search_path(search: "tag:\"#{tag.name}\""), id: tag.name, class: css_class %>
        <% end %>
      <% end if @tags %>
    <% end %>
  </div>
</div>


<p>
  <span class="text-strong">ADGB Artefacts</span> is a reworking of the excavation inventory from Koldewey’s Babylon-excavation (1899-1917) and the excavations conducted by the German Archaeological Institute (1957-1973), critically compared and supplemented with other information by Olof Pedersén. It lists all excavation numbers used with museum numbers, excavation photos, drawings, findspots, short descriptions, and bibliographical references. The information has been to some extent systematized and corrected with problems notified.
</p>
<p>
  <span class="text-strong">Historic People</span> lists persons mentioned in the cuneiform texts from Babylon with their titles/functions and the corresponding excavation numbers.
</p>
<p>
  <span class="text-strong">Literature</span> is a specific short list of all the bibliographic references which cover Babylon artefacts. The entries point to the corresponding excavation numbers. (All publications in “Literature” are separately added in the Bibliographies database with their complete reference.)
</p>
<p>
  <span class="text-strong">ADGB Sources</span> covers mainly all the photographic documentation of both enterprises and to some further extent the documentation on the Ninurta Temple. The entries are derived from the photo inventories, and list the photo numbers, date, subject etc. The Koldwey-excavation photo entries are additionally enriched by an upload of all available image files.
</p>
<p>
  <span class="text-strong">Archives</span> allows you to browse the sources by the holding archive. The number of shown archives results from the entries in sources.
</p>

<div class="row" style="margin:30px 0;">
  <h3 class="text-center col-md-12">Distribution of objects in *ADGB*</h3>
  <%= content_tag :div, class: 'col-md-7' do %>
    <%= column_chart Artefact.group(:kod).having("count(kod) > 1000").count %>
    <p class="text-muted text-center">Grouped, coded artefacts with a minimum of 1000 records each.</p>
  <% end %>
  <%= content_tag :div, class: 'col-md-5' do %>
    <%= column_chart Source.where.not(type: ['Archive', 'Collection', 'Folder']).group(:type).count %>
    <p class="text-muted text-center">Grouped sources (types with content only).</p>
  <% end %>
</div>
<div class="row" style="margin:30px 0;">
  <h3 class="text-center col-md-12">Koldewey excavations between 1899 and 1917</h3>
  <%= content_tag :div, class: 'col-md-12' do %>
    <%= line_chart @excavated_years, colors: ["orange", "#999"] %>
    <p class="text-muted text-center">Sum of excavated artefacts by year.</p>
  <% end %>
</div>
