
<div class="page-header">
  <h2>
    Artefakte der deutschen Grabungen Babylon (adgb)<br>
    <small>adgb.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= form_tag search_path, method: :get, class: "" do %>
      <div class="input-group">
        <span class="input-group-addon"><%= link_to fa_icon('search'), '' %></span>
        <%= search_field_tag 'search', '', placeholder: "Search", class: "form-control" %>
      </div>
      <%= content_tag :div, class: 'text-center tag-cloud --spacious' do %>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, search_path(search: "tag:\"#{tag.name}\""), id: tag.name, class: css_class %>
        <% end %>
      <% end if @tags %>
    <% end %>
  </div>
</div>


<p>
  The Koldewey-artefacts is a reworking of the excavation inventory from Koldewey’s 
  Babylon-excavation 1899-1917 critically compared and supplemented with other information 
  by Olof Pedersén. It lists all excavation numbers used with museum numbers, excavation photos, 
  drawings, findspots, short descriptions, and bibliographical references. The information has 
  been to some extent systematized and corrected with problems notified. The clay tablets were 
  previously treated in a book, Olof Pedersén, Archive und Bibliotheken in Babylon, ADOG 25, 2005. 
  The information in Koldewey-artefacts is available as Open Access.
</p>

<div class="row" style="margin:30px 0;">
  <h3 class="text-center col-md-12">Distribution of objects in *adgb*</h3>
  <%= content_tag :div, class: 'col-md-7' do %>
    <%= column_chart Artefact.group(:kod).having("count(kod) > 1000").count %>
    <p class="text-muted text-center">Grouped, coded artefacts with a minimum of 1000 records each.</p>
  <% end %>
  <%= content_tag :div, class: 'col-md-5' do %>
    <%= column_chart Source.where.not(type: ['Archive', 'Collection', 'Folder']).group(:type).count %>
    <p class="text-muted text-center">Grouped sources (types with content only).</p>
  <% end %>
</div>
<div class="row" style="margin:30px 0;">
  <h3 class="text-center col-md-12">Koldewey Excavation between 1899 and 1917</h3>
  <%= content_tag :div, class: 'col-md-12' do %>
    <%= line_chart Artefact.group(:gr_jahr).having(gr_jahr: 1899..1917).count, colors: ["orange", "#999"] %>
    <p class="text-muted text-center">Count of excavated artefacts over the years.</p>
  <% end %>
</div>