<% title "Import", false %>

<div class="well">
  <strong>1. Datei auswählen, welche die Daten der Haupttabelle enthält.</strong><br>
  <small>
    Bestehende Datensätze (key: BabRel) werden aktualisiert, nicht vorhandene neu erstellt.<br>
    <strong>Attributes: </strong><%= Artefact.col_attr.map{|c| c.camelize }.join(', ') %>
  </small>
  <%= form_tag artefacts_imports_path, multipart: true do %>
    <%= file_field_tag :artefacts_file %>
    <%= select_tag :creator_id, options_from_collection_for_select(User.all, "id", "name") %>
    
    <%= submit_tag "Import" %>
  <% end %>
</div>

<div class="well">
  <strong>2. Datei auswählen, welche die Daten der Personentabelle enthält.</strong><br>
  <small>
    Bevor die Daten importiert werden, werden alle vorherigen Daten gelöscht.<br>
    <strong>Attributes: </strong><%= ArtefactPerson.col_attr.map{|c| c.camelize }.join(', ') %>
  </small>
  <%= form_tag artefacts_people_imports_path, multipart: true do %>
    <%= file_field_tag :artefacts_people_file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>

<div class="well">
  <strong>3. Datei auswählen, welche die Daten der Literaturtabelle (ArtefactReferences) enthält.</strong><br>
  <small>
    Bevor die Daten importiert werden, werden alle vorherigen Daten gelöscht.<br>
    <strong>Allowed attributes: </strong><%= ArtefactReference.col_attr.map{|c| c.camelize }.join(', ') %>
  </small>
  <%= form_tag artefacts_references_imports_path, multipart: true do %>
    <%= file_field_tag :artefacts_references_file %>
    <%= submit_tag "Import" %>
  <% end %>  
</div>

<div class="well">
  <strong>4. Datei auswählen, welche die Daten der Photo-Haupttabelle enthält.</strong><br>
  <small>Bestehende Datensätze (key: PhRel) werden aktualisiert, nicht vorhandene neu erstellt.</small>
  <%= form_tag photos_imports_path, multipart: true do %>
    <%= file_field_tag :photos_file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br>
  <strong>Photos in die Archivalien übertragen und neu verknüpfen.</strong><br>
  <%= form_tag transfer_photos_imports_path, multipart: true do %>
    <%= select_tag :transferer_id, options_from_collection_for_select(User.all, "id", "name") %>
    <%= submit_tag "Import" %>
  <% end %>
  <br>
  <strong>Attributes: </strong><%= PhotoImport.col_attr.map{|c| c.camelize }.join(', ') %>
</div>

<div class="well">
  <strong>5. Datei auswählen, welche die Daten der Artefakt-Phototabelle enthält.</strong><br>
  <small>Bestehende Datensätze werden gelöscht. </small>
  <%= form_tag artefacts_photos_imports_path, multipart: true do %>
    <%= file_field_tag :artefacts_photos_file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br>
  <strong>Attributes: </strong><%= ArtefactPhoto.col_attr.map{|c| c.camelize }.join(', ') %>
</div>
