<% title "Versions \\ #{@parent.name} \\ #{@parent.class.name.pluralize}"%>

<% content_for :head do %>
  <style><%= Diffy::CSS %></style>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-12 versions-listing">
    <% @versions_by_month.reverse_each do |month, versions| %>
      <div class="version-group-title">
        <%= fa_icon('dot-circle-o') %>
        <%= content_tag :span, month, class: 'heading' %>
      </div>
      <table class="table table-simple version-group">
        <tbody>
          <% versions.reverse.each do |version| %>
            <% user = User.find(version.whodunnit.to_i) %>
            <%= content_tag :tr, id: "version_id_#{version.id}" do %>
              <td class="versions-group-item">
                <div class="version-avatar-cell">
                  <%= image_tag user.image_thumb_url if user.image_thumb_url %>
                </div>
                <div class="version-main-cell">
                  <%= content_tag :span, user.name, class: 'text-strong' %> 
                  <%= content_tag :span, event_happend_for(version.event), class: 'text-small' %> 
                  <%= content_tag :span, class: 'text-small text-strong' do %> 
                    <% if version.next && version.next.event != 'publish' && (version.event != 'destroy' || version.event != 'publish') %>
                      <%= link_to version.version_name, send("#{version.item.class.name.underscore}_version_path", version.item, version.next), title: 'View this version', class: '' %>
                    <% else %>
                      <%= link_to version.version_name, version.item, title: 'Current version', class: '' %>
                    <% end %>
                  <% end if version.item %>
                  <%= content_tag :span, time_ago_in_words(version.created_at)+ ' ago', class: 'text-small' %>
                  <%= link_to '...', "#collapse-details-on-version-#{version.id}", 
                    data: { toggle: 'collapse' }, 
                    aria: {expanded: 'false', controls: "collapse-details-on-version-#{version.id}"}, 
                    class: 'toggle-link', 
                    role: 'button' %>
                  <%= content_tag :p, class: 'text-small text-gray' do %>
                    Total characters on this version: <%= version.total_characters_length %>.
                    Changed: <%= version.changed_characters_length %>
                  <% end %>                  
                  <%= content_tag :div, class: 'version-changeset collapse', id: "collapse-details-on-version-#{version.id}" do %>
                    <% version.changeset.each do |k,v| %>
                      <%= content_tag :div, class: "row" do %>
                        <div class="col-md-2">
                          <%= content_tag :span, k.humanize, class: 'text-strong text-gray' %>
                        </div>        
                        <div class="col-md-5">
                          <%= Diffy::SplitDiff.new(v[0], v[1], :format => :html).left.html_safe %>
                        </div>
                        <div class="col-md-5">
                          <%= Diffy::SplitDiff.new(v[0], v[1], :format => :html).right.html_safe %>
                        </div>
                      <% end if v[1].present? || v[0] %>
                    <% end %>      
                  <% end %>
                </div>
              </td>
              <td class="version-links-cell">
                <div class="version-chart pull-right">
                  <%= pie_chart({'Total' => version.total_characters_length, 'This version' => version.changed_characters_length}, width: "120px", height: "70px", legend: false) %>
                </div>
              </td>
            <% end %>
          <% end %>        
        </tbody>
      </table>
    <% end %>
  </div>
</div>