<div class="panel panel-default">
  <div class="panel-body">

    <% if archive.present? %>
      <%= content_tag :p, fa_icon('link')+' '+link_to(sti_source_url(archive.type, archive), sti_source_path(archive.type, archive)) %>
      <%= content_tag :p, fa_icon(archive.icon)+' '+link_to(archive.type, sti_source_path(archive.type)) %>

      <%= link_to(fa_icon("edit", text: 'Edit'), sti_source_path(archive.type, archive, :edit), class: 'btn btn-sm btn-warning text-strong pull-right', style: 'margin-top: 5px;') if can? :edit, archive %>
      <%= content_tag :h3, link_to("#{archive.name_tree}", sti_source_path(archive.type, archive)) %>
  
      <table class="table table-striped">
        <tbody>
          <% archive.type_data.each do |k,v|%>
            <%= content_tag :tr do %>
              <th><%= k.humanize %>:</th>
              <td><%= link_to v, sources_path(search: v) %></td>
            <% end if v.present? %>
          <% end if archive.type_data %>

        </tbody>
      </table>

      <%= content_tag :div do %>

      <% end %>
    <% end %>
  </div>
</div>