<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
    <%= content_tag :div, class: 'pull-right' do %>
      <%= link_to 'New Photo', new_photo_path, class: 'btn btn-default btn-success' %>
    <% end if current_user %>
    <%= content_tag :div, class: 'pull-right' do %>
      <span class="label label-default">
        Total: 
        <strong><%= @photos.count %></strong>
      </span>
    <% end %>
  </div>
</div>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Datum</th>
      <th>Description</th>
      <th>Add</th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to photo.name, photo %></td>
        <td><%= photo.ph_datum %></td>
        <td><%= photo.ph_text %></td>
        <td><%= photo.ph_add %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-top: 20px; margin-bottom: 10px;">
  <%= render 'shared/per_page' %>
</div>