<% title @photo.name %>

<% content_for(:buttons) do %>
  <%= link_to 'Edit', edit_photo_path(@photo), class: 'btn btn-default btn-warning' if can?(:edit, @photo) %>
  <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' if can?(:destroy, @photo) %>
<% end if can?(:edit, @photo) || can?(:destroy, @photo) %>

<div class="row">
  <div class="col-md-6">
    <% unless @images.nil? %>
      <% for img in @images do %>
        <%= link_to img['links']['human'], target: :_blank, style: 'text-decoration: none;' do %>
          <div class="thumbnail">
            <%= image_tag(img['files']['size_640']['url']) %>
            <div class="caption">
              <%= content_tag :h4, img['name'] if img['name'] %>
              <p>
                <% img['tags'].split(',').each do |t| %>
                  <span class="label label-default"><%= t %></span>
                <% end %>
              </p>
              <p class="small">&copy; <%= img['file_copyright'] %> <%= img['file_copyright_details'] %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      no photos for <%= @photo.name %> found in <%= Rails.application.secrets.media_host %>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <%= content_tag :li, link_to('Info', '#info', aria: {controls: 'info'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: 'active' %>
          <%= content_tag :li, link_to(fa_icon('share-alt', text: "Sharing"), '#sharing', aria: {controls: 'sharing'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: '' %>
        </ul>

        <div class="tab-content">
          <%= content_tag :div, id: 'info', role: 'tabpanel', class: 'tab-pane active' do %>
            <%= content_tag :table, class: 'table table-bordered' do %>
              <tbody>
                <%= content_tag :tr do %>
                  <th>addenda</th>
                  <td><%= @photo.ph_add %></td>
                <% end if @photo.ph_add %>
                <%= content_tag :tr do %>
                  <th>Datum</th>
                  <td><%= @photo.ph_datum %></td>
                <% end if @photo.ph_datum %>
                <%= content_tag :tr do %>
                  <th>Description</th>
                  <td><%= @photo.ph_text %></td>
                <% end if @photo.ph_text %>

                <%= content_tag :tr do %>
                  <th>References</th>
                  <td><%= @photo.references.map{ |r| r.title }.join(', ').html_safe %></td>
                <% end if @photo.references.any? %>
              </tbody>
            <% end %>
            <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <td></td>
                  <td>Object</td>
                  <td>
                    Position 
                    <%= link_to fa_icon('info'), 'javascript:;',
                      class: 'label label-info', 
                      data: {toggle: 'tooltip', placement: 'left'}, 
                      title: 'First number counts row from top to bottom, second number counts position from left to right, e.g. PhBab 1867 (4 2) means artifact ist displayed in 4th row from top and 2nd position from left on picture PhBab 1867.' %>
                    </td>
                </tr>
              </thead>
              <tbody>
                <% @occurences.each_with_index do |occ, index| %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= link_to (occ.artefact.grabung ? occ.artefact.bab_name : occ.artefact.mus_name), occ.artefact if occ.artefact %></td>
                    <td><%= occ.position %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>

          <%= content_tag :div, id: 'sharing', role: 'tabpanel', class: 'tab-pane' do %>
            <%= shared_with(@photo) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
