<div class="row">
  <div class="col-md-6">
  <% if @photos.present? %>
    <% for img in @photos.take(1) do %>
      <%= link_to img['links']['human'], target: :_blank, style: 'text-decoration: none;' do %>
        <div class="thumbnail">
          <%= image_tag(img['attachment']['normal_file']['url']) %>
          <div class="caption">
            <%= content_tag :h4, img['name'] if img['name'] %>
            <p>
              <% img['tags'].split(',').each do |t| %>
                <span class="label label-default"><%= t %></span>
              <% end %>
              <br>
              <small>&copy; <%= img['copyright_owner'] %>, <%= img['copyright_license'] %></small>
          </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    no photos for <%= @photo.name %> found in <%= Rails.application.secrets.media_host %>
  <% end %>
  </div>
  
  <div class="col-md-6">
    <p>
      <strong>Ph rel:</strong>
      <%= @photo.name %>
    </p>
    
    <p>
      <strong>Ph:</strong>
      <%= @photo.ph %>
    </p>
    
    <p>
      <strong>Ph nr:</strong>
      <%= @photo.ph_nr %>
    </p>
    
    <p>
      <strong>Ph add:</strong>
      <%= @photo.ph_add %>
    </p>
    
    <p>
      <strong>Ph datum:</strong>
      <%= @photo.ph_datum %>
    </p>
    
    <p>
      <strong>Ph text:</strong>
      <%= @photo.ph_text %>
    </p>

  </div>
  
</div>
    
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
