<div class="clearfix">
      <%= form_tag [:revoke_multiple, model], method: :delete do %>
        <%= hidden_field_tag "search", params[:search] %>
        <%= hidden_field_tag "with_user_shared_to_like", params[:with_user_shared_to_like] %>
        <%= hidden_field_tag "with_unshared_records", params[:with_unshared_records] %>
        <%= hidden_field_tag "with_published_records", params[:with_published_records] %>
          <% (User.all + Group.all).each do |a| %>
                <%= check_box_tag 'accessors[]', [a.id, a.class.name] %>
                <%= a.name.present? ? a.name : "no name given (id: #{a.uid})" %>
          <% end %>

        <%= submit_tag "Remove", class: 'btn btn-default pull-right' %>
      <% end %>
</div>