<%= simple_form_for(@photo_import) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ph_rel %>
    <%= f.input :ph %>
    <%= f.input :ph_nr %>
    <%= f.input :ph_add %>
    <%= f.input :ph_datum %>
    <%= f.input :ph_text %>
  </div>
  
      <div id="photos">
        <strong>Artefacts: </strong>
        <%= f.simple_fields_for :occurences do |id| %>
          <%= render 'occurence_fields', f: id %>
          <%= content_tag :div, '', style: 'border-top: 1px solid #eeeeee; width: 50%; margin: 10px auto 20px auto;' if f.object.occurences.count > 1 %>
        <% end %>
        <div class="links clearfix">
          <%= link_to_add_association fa_icon('plus-square', text: 'artefact'), f, :occurences, class: 'btn btn-sm btn-success pull-right' %>
        </div>
      </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', (@photo_import.new_record? ? photo_imports_path : @photo_import), class: "btn btn-default" %>
  </div>
<% end %>
