<div class="panel panel-default">
  <div class="panel-body">
    <% if photo %>
      <%= content_tag :p, fa_icon('link')+' '+link_to(photo_import_url(photo), photo_import_url(photo)) %>

      <%= link_to(fa_icon("edit", text: 'Edit'), edit_photo_import_path(photo), class: 'btn btn-sm btn-warning pull-right', style: 'margin-top: 5px;') if can? :edit, photo %>
      <%= content_tag :h3, link_to("#{photo.name}", photo) %>
      
      <%= render partial: 'shared/display_files', locals: {files: (@files.present? ? (@files.map{ |f| f if f['type'] == 'Image' }.compact.take(1)) : @files), parent: photo, size: 'size_320'} %>
      <p class="text-muted">
        <%= photo.ph_text %>
      </p>
      <%= content_tag :span, link_to("#{fa_icon('file')} #{@files.length-1} more files".html_safe, photo), class: 'pull-right' if @files.present? %>
    <% end %>
  </div>
</div>