<% title "Photos", false %>


<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= form_tag photo_imports_path, method: :get do %>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="margin-top:10px;">
        <%= content_tag :div, class: 'panel panel-default' do %>
          <div class="panel-heading" role="tab" id="AdminFilterHeading">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#AdminFilter" aria-expanded="false" aria-controls="AdminFilter">
                Administrative filters
              </a>
            </h4>
          </div>
          <div id="AdminFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AdminFilterHeading">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= check_box_tag :with_published_records, '', params[:with_published_records] %>
                    <%= label_tag(:with_published_records, 'Published records only') %>
                  </div>
                  <div class="form-group">
                    <%= check_box_tag :with_unshared_records, '', params[:with_unshared_records] %>
                    <%= label_tag(:with_unshared_records, 'Records not shared to anyone') %>
                  </div>
                  <div class="form-group">
                    <%= label_tag(:with_user_shared_to_like, 'Records shared to') %>
                    <%= select_tag(:with_user_shared_to_like, options_from_collection_for_select(User.all, 'id', 'name', params[:with_user_shared_to_like]), include_blank: '- Any -', class: 'form-control') %>
                    <p class="text-muted">Results also include groups a user belongs to</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <%= submit_tag 'Set filter', class: 'btn btn-default text-strong' %>
            </div>
          </div>
        <% end if can_create? || can_administrate? %>
      </div>
    <% end %> <!-- filterrific form end -->
  </div>
</div>

<div class="row">
  <div class="col-md-7">

    <div class="well" style="padding:10px 10px;">
      <span id="page-result-info">
        <%= page_entries_info @photos, model: 'PhotoImport' %>
      </span>
    </div>
    <%= render(partial: 'photo_imports/list', locals: { photos: @photos }) %>
    <div style="margin-top: 20px; margin-bottom: 10px;">
      <%= render 'shared/per_page' %>
    </div>
  </div>

  <div class="col-md-5">
    <%= content_tag :div, id: "show-target", data: {spy: 'affix', 'offset-top': "60"} do %>
      <%= render partial: 'photo_imports/show', locals: { photo: @photos.first } %>
    <% end if !browser.device.mobile? %>
  </div>
</div>