<%= simple_form_for @artefact, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :tag_list, 
        as: :string,
        input_html: {
          value: @artefact.tag_list.join(','),
          class: 'concepts_selectize' }, 
        label: "Tags <span class='text-muted' style='font-weight:normal;'>(separate with comma)</span>".html_safe,
        hint: 'Add tags to categorize the artefact and make it more discoverable.' %>
      <%= f.input :bab_rel %>
      
      <%= f.input :grabung %>
      <%= f.input :bab %>
      <%= f.input :bab_ind %>
      <%= f.input :b_join %>
      <%= f.input :b_korr %>
      <hr>
      
      <%= f.input :mus_sig %>
      <%= f.input :mus_nr %>
      <%= f.input :mus_ind %>
      <%= f.input :m_join %>
      <%= f.input :m_korr %>
      <hr>
      
      <%= f.input :kod %>
      <%= f.input :grab %>
      <%= f.input :text %>
      <%= f.input :sig %>
      <%= f.input :diss %>
      <%= f.input :mus_id %>
      <%= f.input :standort_alt %>
      <%= f.input :standort %>
      
      <%= f.input :mas1 %>
      <%= f.input :mas2 %>
      <%= f.input :mas3 %>
      
      <%= f.input :f_obj %>
      <%= f.input :abklatsch %>
      <%= f.input :zeichnung %>
      <hr>
      
      <%= f.input :fo_tell %>
      <%= f.input :fo1 %>
      <%= f.input :fo2 %>
      <%= f.input :fo3 %>
      <%= f.input :fo4 %>
      <%= f.input :fo_text %>
      <%= f.input :utmx %>
      <%= f.input :utmxx %>
      <%= f.input :utmy %>
      <%= f.input :utmyy %>
      <hr>
      
      <%= f.input :inhalt %>
      <%= f.input :period %>
      <%= f.input :arkiv %>
      <%= f.input :text_in_archiv %>
      <%= f.input :jahr %>
      <%= f.input :datum %>
      <%= f.input :zeil2 %>
      <%= f.input :zeil1 %>

      <hr>
      <%= f.input :gr_datum %>
      <%= f.input :gr_jahr %>

      <hr>
      <div id="references">
        <strong>References: </strong>
        <%= f.simple_fields_for :references do |id| %>
          <%= render 'reference_fields', f: id %>
          <%= content_tag :div, '', style: 'border-top: 1px solid #eeeeee; width: 50%; margin: 10px auto 20px auto;' if f.object.references.count > 1 %>
        <% end %>
        <div class="links clearfix">
          <%= link_to_add_association fa_icon('plus-square', text: 'reference'), f, :references, class: 'btn btn-sm btn-success pull-right' %>
        </div>
      </div>

      <hr>

      <div id="photos">
        <strong>Photos: </strong>
        <%= f.simple_fields_for :illustrations do |id| %>
          <%= render 'illustration_fields', f: id %>
          <%= content_tag :div, '', style: 'border-top: 1px solid #eeeeee; width: 50%; margin: 10px auto 20px auto;' if f.object.illustrations.count > 1 %>
        <% end %>
        <div class="links clearfix">
          <%= link_to_add_association fa_icon('plus-square', text: 'photo'), f, :illustrations, class: 'btn btn-sm btn-success pull-right' %>
        </div>
      </div>

      <hr>

      <div id="people">
        <strong>Personennamen: </strong>
        <%= f.simple_fields_for :people do |id| %>
          <%= render 'person_fields', f: id %>
          <%= content_tag :div, '', style: 'border-top: 1px solid #eeeeee; width: 50%; margin: 10px auto 20px auto;' if f.object.people.count > 1 %>
        <% end %>
        <div class="links clearfix">
          <%= link_to_add_association fa_icon('plus-square', text: 'person name'), f, :people, class: 'btn btn-sm btn-success pull-right' %>
        </div>
      </div>

      <hr>
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', (@artefact.new_record? ? artefacts_path : @artefact), class: "btn btn-default" %>
    </div>
  </div>  
<% end %>
