<div id="_results" class="row artefacts-list">
  <div class="col-md-12">
    <%= content_tag :div, id: "tools", class: "--spacing-20" do %>
      <% if can?(:grant_multiple_access, Artefact) || can?(:revoke_multiple_access, Artefact) %>
        <button type="button" class="btn btn-default btn-sm text-strong" data-toggle="modal" data-target="#access-settings">
          <%= fa_icon('eye', text: 'Accessibility') %>
        </button>
      <% end %>
      <%= render partial: 'shared/publish', locals: {klass: Artefact} if can?(:publish_multiple, Artefact) %>
      <%= render partial: 'shared/unlock', locals: {klass: Artefact} if can?(:unlock_multiple, Artefact) %>
      <button type="submit" class="btn btn-default btn-sm text-strong" form='edit_multiple_artefacts' name='edit_multiple_artefact_ids[submit]'>
        <%= fa_icon('edit', text: 'Edit checked') %>
      </button>
    <% end if current_user %>
  <%= form_tag edit_multiple_artefacts_path, method: :post, id: 'edit_multiple_artefacts', remote: false do %>
    <%= content_tag :div, class: "text-small" do %>
      <input type="checkbox" id="select_all" name="select_all" />
      <label for="select_all" style="font-weight:normal; color:#337ab7;margin-bottom:0px;">Check all</label>
    <% end if current_user %>
    <ul class="list-group">
    <% @artefacts.each do |artefact| %>
      <li class="list-group-item artefact" id="artefact-<%= artefact.id %>">
        <div class="row" style="margin-bottom:10px;">
          <div class="col-md-3">
            <%= check_box_tag "artefact_ids[]", artefact.id, false, class: 'checkbox' if current_user %>
          </div>
          <div class="col-md-9">
            <%= link_to fa_icon('share', text: 'Detailansicht'), artefact, class: 'pull-right btn btn-xs btn-info text-strong' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= content_tag :div, id: "excavation-#{artefact.id}" do %>
              <%= content_tag :span, class: 'text-strong', title: 'Grabungsnummer', data: {toggle: 'tooltip', placement: 'right'} do %>
                <%= link_to(artefact.grabung, artefacts_path(search: "#{params[:search]} grabung:#{'"'+artefact.grabung+'"'}".strip), class: 'filter-link', data: {token: "grabung:#{'"'+artefact.grabung+'"'}"}) if artefact.grabung %>
                <%= "#{artefact.bab}#{artefact.bab_ind}" %>
              <% end %>
              <%= linebreak_before_and_show_if_exists(artefact.b_join) %>
              <%= linebreak_before_and_show_if_exists(artefact.b_korr) %>
            <% end if artefact.bab_name.present? %>
            <%= content_tag :div, id: "museum-#{artefact.id}" do %>
              <%= content_tag :span, class: 'text-strong', title: 'Museumsnummer', data: {toggle: 'tooltip', placement: 'right'} do %>
                <%= link_to(artefact.mus_sig, artefacts_path(search: "#{params[:search]} mus_sig:#{'"'+artefact.mus_sig+'"'}".strip), class: 'filter-link', data: {token: "mus_sig:#{'"'+artefact.mus_sig+'"'}"}) if artefact.mus_sig %>
                <%= "#{artefact.mus_nr}#{artefact.mus_ind}" %>
              <% end %>
              <%= linebreak_before_and_show_if_exists(artefact.m_join) %>
              <%= linebreak_before_and_show_if_exists(artefact.m_korr) %>
            <% end if artefact.mus_name.present? %>
            <%= content_tag :div, id: "tags-#{artefact.id}", style: 'margin-top:10px;' do %>
              <ul class="list-unstyled">
                <% artefact.tags.each do |t| %>
                  <%= content_tag :li, content_tag(:span, link_to(t.name, artefacts_path(search: "#{params[:search]} tag:#{'"'+t.name+'"'}".strip), style: 'color:white;', class: 'filter-link', data: {token: "tag:#{'"'+t.name+'"'}"}), class: 'badge').html_safe %>
                <% end %>
              </ul>
            <% end if artefact.tags.any? %>
          </div>
          <div class="col-md-3">
            <%= content_tag :div, id: "description-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.f_obj, 'Fundobj: '), false) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.abklatsch, 'Abklatsch: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.zeichnung, 'Zeichnung: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.code, 'Code: ')) %>
              <%= "[#{link_to(artefact.kod, artefacts_path(search: "#{params[:search]} kod:#{'"'+artefact.kod+'"'}".strip), class: 'filter-link', data: {token: "kod:#{'"'+artefact.kod+'"'}"})}]".html_safe if artefact.kod.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.grab, 'Grab: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.text_solution, 'Text: ')) %>
              <%= "[#{link_to(artefact.text, artefacts_path(search: "#{params[:search]} text:#{'"'+artefact.text+'"'}".strip), class: 'filter-link', data: {token: "text:#{'"'+artefact.text+'"'}"})}]".html_safe if artefact.text.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.sig, 'Bild: ')) %>
              <%= content_tag :span do %>
              <br>
                <strong>Maße: </strong>
                <%= linebreak_before_and_show_if_exists(artefact.mas1, false) %><%= ';' if artefact.mas2 || artefact.mas3 %>
                <%= linebreak_before_and_show_if_exists(artefact.mas2, false) %><%= ';' if artefact.mas3 %>
                <%= linebreak_before_and_show_if_exists(artefact.mas3, false) %>         
              <% end if artefact.mas1.present? || artefact.mas2.present? || artefact.mas3.present? %>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= content_tag :div, id: "text-description-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <%= linebreak_before_and_show_if_exists(with_description(link_to(artefact.period, artefacts_path(search: "#{params[:search]} period:#{'"'+artefact.period+'"'}".strip), class: 'filter-link', data: {token: "period:#{'"'+artefact.period+'"'}"}), 'Periode: '), false) if artefact.period %>
              <%= linebreak_before_and_show_if_exists(with_description(link_to(artefact.arkiv, artefacts_path(search: "#{params[:search]} arkiv:#{'"'+artefact.arkiv+'"'}".strip), class: 'filter-link', data: {token: "arkiv:#{'"'+artefact.arkiv+'"'}"}), 'Archiv: ')) if artefact.arkiv %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.text_in_archiv, ': '), false) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.inhalt, 'Inhalt: ')) %>
              <%= content_tag :span do %>
                <strong>Personen: </strong>
                <%= artefact.people.map{|p| "#{p.person}#{' '+p.titel if p.titel.present?}"}.join('; ') %>
              <% end  if artefact.people.any? %>
              <%= content_tag :strong, '<br>Datum: '.html_safe if artefact.jahr.present? || artefact.datum.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.jahr, ''), false) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.datum, "#{', ' if artefact.jahr.present?}"), false) %>
              
              <%= linebreak_before_and_show_if_exists(with_description(artefact.zeil2, 'Zeil2: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.zeil1, 'Zeil1: ')) %>
            <% end %>
          </div>

          <div class="col-md-3">
            <%= content_tag :div, id: "fundort-#{artefact.id}" do %>
              <strong>Fundort</strong>
              <%= linebreak_before_and_show_if_exists(link_to(artefact.fo_tell, artefacts_path(search: "#{params[:search]} fo_tell:#{'"'+artefact.fo_tell+'"'}".strip), class: 'filter-link', data: {token: "fo_tell:#{'"'+artefact.fo_tell+'"'}"}), false) if artefact.fo_tell %>
              <%= content_tag :span do %>
                <%= linebreak_before_and_show_if_exists(artefact.fo1, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.fo2, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.fo3, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.fo4, false) %>
              <% end if artefact.fo1.present? || artefact.fo2.present? || artefact.fo3.present? || artefact.fo4.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.fo_text, ''), false) %>
              <%= content_tag :div do %>
                <strong>Ausgrabungsdatum: </strong>
                <%= linebreak_before_and_show_if_exists(artefact.gr_datum, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.gr_jahr, false) %>
              <% end if artefact.gr_datum || artefact.gr_jahr %>
              <%= content_tag :div do %>
                <strong>UTM Koordinaten (WGS84)</strong><br>
                <%= link_to artefacts_path(search: "#{params[:search]} latitude:#{artefact.latitude} longitude:#{artefact.longitude}".strip), class: 'filter-link', data: {token: "latitude:#{artefact.latitude} longitude:#{artefact.longitude}"} do %>
                  Z: 38S E: <%= artefact.utmx %> N: <%= artefact.utmy %>
                <% end %><br>
                <span class="text-small">Genauigkeit: E: ~<%= artefact.utmxx %>m, N: ~<%= artefact.utmyy %>m<br>
              <% end if artefact.utm? %>
            <% end %>
          </div>
          
          <div class="col-md-12">
            <%= content_tag :div, id: "photos-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <span class="text-strong text-gray">Archivalien: </span>
              <%= artefact.illustrations.map{ |i| "#{(i.source ? link_to(i.name, artefacts_path(search: "#{params[:search]} source:#{'"'+i.name+'"'}".strip), class: 'filter-link', data: {token: "source:#{'"'+i.name+'"'}"}) : i.name)}#{' ('+i.position+')' if i.position}" }.join('; ').html_safe %>
              <%= link_to fa_icon('info'), 'javascript:;',
                    class: 'label label-info', 
                    data: {toggle: 'tooltip', placement: 'top'}, 
                    title: 'Position: First number counts row from top to bottom, second number counts position from left to right, e.g. PhBab 1867 (4 2) means artifact ist displayed in 4th row from top and 2nd position from left on picture PhBab 1867.' %>
            <% end if artefact.illustrations.any? %>

            <%= content_tag :div, id: "biblio-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <span class="text-strong text-gray">Bibliographie: </span>
              <%= artefact.references.map{ |r| "#{link_to(r.title, artefacts_path(search: "#{params[:search]} publication:#{'"'+r.title+'"'}".strip), class: 'filter-link', data: {token: "publication:#{'"'+r.title+'"'}"})}#{r.locator ? ': '+r.locator : ''}" }.join('; ').html_safe %>
            <% end if artefact.references.any? %>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
  </div>
</div>

<div id="init-pagination">
  <%= will_paginate artefacts, params: params.merge({filterrific: nil}), renderer: BootstrapPagination::Rails %>
</div>

<% content_for :modals do %>
  <div id="access-settings" class="modal fade" role="dialog" aria-labelledby="access-settings-heading" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="access-settings-heading">Accessibility settings</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'grants/grant_multiple', locals: {model: Artefact} if can?(:grant_multiple_access, Artefact) %>
          <br>
          <%= render partial: 'grants/revoke_multiple', locals: {model: Artefact} if can?(:revoke_multiple_access, Artefact) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default text-strong" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="edit-multiple" class="modal fade" role="dialog" aria-labelledby="edit-multiple-heading" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="access-settings-heading">Edit multiple records</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default text-strong" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<% end %>