<div id="_results" class="row artefacts-list">
  <div class="col-md-12">
    <% if can?(:grant_multiple_access, Artefact) || can?(:revoke_multiple_access, Artefact) %>
      <button type="button" class="btn btn-default btn-sm text-strong" data-toggle="modal" data-target="#access-settings">
        <%= fa_icon('eye', text: 'Accessibility') %>
      </button>
    <% end %>
    <%= render partial: 'shared/publish', locals: {klass: Artefact} if can?(:publish_multiple, Artefact) %>
    <%= render partial: 'shared/unlock', locals: {klass: Artefact} if can?(:unlock_multiple, Artefact) %>
    <ul class="list-group">
    <% @artefacts.each do |artefact| %>
      <li class="list-group-item artefact" id="artefact-<%= artefact.id %>">
        <div class="row">
          <div class="col-md-3">
            <%= content_tag :div, id: "excavation-#{artefact.id}" do %>
              <%= link_to linebreak_before_and_show_if_exists(artefact.bab_name, false), artefact, class: 'text-strong', title: 'Grabungsnummer', data: {toggle: 'tooltip', placement: 'right'} %>
              <%= linebreak_before_and_show_if_exists(artefact.b_join) %>
              <%= linebreak_before_and_show_if_exists(artefact.b_korr) %>
            <% end if artefact.bab_name.present? %>
            <%= content_tag :div, id: "museum-#{artefact.id}" do %>
              <%= link_to linebreak_before_and_show_if_exists(artefact.mus_name, false), artefact, class: 'text-strong', title: 'Museumsnummer', data: {toggle: 'tooltip', placement: 'right'} %>
              <%= linebreak_before_and_show_if_exists(artefact.m_join) %>
              <%= linebreak_before_and_show_if_exists(artefact.m_korr) %>
            <% end if artefact.mus_name.present? %>

            <%= content_tag :div, id: "photos-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <span class="text-strong text-gray">Photos</span>
              <%= link_to fa_icon('info'), 'javascript:;',
                    class: 'label label-info', 
                    data: {toggle: 'tooltip', placement: 'top'}, 
                    title: 'Position: First number counts row from top to bottom, second number counts position from left to right, e.g. PhBab 1867 (4 2) means artifact ist displayed in 4th row from top and 2nd position from left on picture PhBab 1867.' %>
              <br>
              <%= artefact.illustrations.map{ |i| "#{(i.photo ? link_to(i.name, i.photo) : i.name)}#{' ('+i.position+')' if i.position}" }.join('; ').html_safe %>
            <% end if artefact.illustrations.any? %>
          </div>
          <div class="col-md-3">
            <%= content_tag :div, id: "description-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.f_obj, 'Fundobj: '), false) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.abklatsch, 'Abklatsch: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.zeichnung, 'Zeichnung: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.code, 'Code: ')) %>
              <%= "[#{artefact.kod}]" if artefact.kod.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.grab, 'Grab: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.text_solution, 'Text: ')) %>
              <%= "[#{artefact.text}]" if artefact.text.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.sig, 'Bild: ')) %>
              <%= content_tag :span do %>
              <br>
                <strong>Maße: </strong>
                <%= linebreak_before_and_show_if_exists(artefact.mas1, false) %><%= ';' if artefact.mas2 || artefact.mas3 %>
                <%= linebreak_before_and_show_if_exists(artefact.mas2, false) %><%= ';' if artefact.mas3 %>
                <%= linebreak_before_and_show_if_exists(artefact.mas3, false) %>         
              <% end if artefact.mas1.present? || artefact.mas2.present? || artefact.mas3.present? %>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= content_tag :div, id: "text-description-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.period, 'Periode: '), false) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.arkiv, 'Archiv: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.text_in_archiv, ': '), false) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.inhalt, 'Inhalt: ')) %>
              <%= content_tag :span do %>
                <strong>Personen: </strong>
                <%= artefact.people.map{|p| "#{p.person}#{' '+p.titel if p.titel.present?}"}.join('; ') %>
              <% end  if artefact.people.any? %>
              <%= content_tag :strong, '<br>Datum: '.html_safe if artefact.jahr.present? || artefact.datum.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.jahr, ''), false) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.datum, "#{', ' if artefact.jahr.present?}"), false) %>
              
              <%= linebreak_before_and_show_if_exists(with_description(artefact.zeil2, 'Zeil2: ')) %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.zeil1, 'Zeil1: ')) %>
            <% end %>
          </div>

          <div class="col-md-3">
            <%= content_tag :div, id: "fundort-#{artefact.id}" do %>
              <strong>Fundort</strong>
              <%= linebreak_before_and_show_if_exists(artefact.fo_tell, false) %>
              <%= content_tag :span do %>
                <%= linebreak_before_and_show_if_exists(artefact.fo1, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.fo2, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.fo3, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.fo4, false) %>
              <% end if artefact.fo1.present? || artefact.fo2.present? || artefact.fo3.present? || artefact.fo4.present? %>
              <%= linebreak_before_and_show_if_exists(with_description(artefact.fo_text, ''), false) %>
              <%= content_tag :div do %>
                <strong>Ausgrabungsdatum: </strong>
                <%= linebreak_before_and_show_if_exists(artefact.gr_datum, false) %>
                <%= linebreak_before_and_show_if_exists(artefact.gr_jahr, false) %>
              <% end if artefact.gr_datum || artefact.gr_jahr %>
              <%= content_tag :p do %>
                <strong>UTM E </strong>
                <%= artefact.utmx %> (<%= artefact.utmxx %>) 
                <strong>N </strong>
                <%= artefact.utmy %> (<%= artefact.utmyy %>)<br>
                <small>
                  <%= link_to fa_icon('external-link', text: 'Google Maps'), "http://maps.google.com/maps?t=k&q=loc:#{artefact.latitude}+#{artefact.longitude}", target: :_blank %>
                </small>
              <% end if artefact.utm? %>
            <% end %>
          </div>
          
          <div class="col-md-12">
            <%= content_tag :div, id: "biblio-#{artefact.id}", style: 'padding-top: 5px;' do %>
              <span class="text-strong text-gray">Bibliographie: </span>
              <%= artefact.references.map{ |r| r.title }.join('; ') %>
            <% end if artefact.references.any? %>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<div id="init-pagination">
  <%= will_paginate artefacts, params: params.merge({filterrific: nil}), renderer: BootstrapPagination::Rails %>
</div>

<% content_for :modals do %>
  <div id="access-settings" class="modal fade" role="dialog" aria-labelledby="access-settings-heading" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="access-settings-heading">Accessibility settings</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'grants/grant_multiple', locals: {model: Artefact} if can?(:grant_multiple_access, Artefact) %>
          <br>
          <%= render partial: 'grants/revoke_multiple', locals: {model: Artefact} if can?(:revoke_multiple_access, Artefact) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default text-strong" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>