<div id="filterrific_results">

  <div>
    <%= page_entries_info artefacts %>
  </div>
  
  <% for artefact in @artefacts do %>
    <div class="artefact" id="artefact-<%= artefact.id %>">
      <div class="row bordered">
        <div class="col-md-6">
          <%= content_tag :div, id: "excavation-#{artefact.id}" do %>
            <%= content_tag :strong, 'Grabungsnummer: ' %>
            <%= linebreak_before_and_show_if_exists(artefact.bab_name, false) %>
            <%= linebreak_before_and_show_if_exists(artefact.b_join) %>
            <%= linebreak_before_and_show_if_exists(artefact.b_korr) %>
          <% end if artefact.bab_name %>
          <%= content_tag :div, id: "museum-#{artefact.id}" do %>
            <%= content_tag :strong, 'Museumsnummer: ' %>
            <%= linebreak_before_and_show_if_exists(artefact.mus_name, false) %>
            <%= linebreak_before_and_show_if_exists(artefact.m_join) %>
            <%= linebreak_before_and_show_if_exists(artefact.m_korr) %>
          <% end if artefact.mus_name %>
          
          <%= content_tag :div, id: "description-#{artefact.id}", style: 'padding-top: 5px;' do %>
            <strong><em>Beschreibung</em></strong>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.f_obj, 'Fundobj')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.abklatsch, 'Abkl./Zeich.')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.abguss, 'Gipsabguß')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.kod, 'Code')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.grab, 'Grab')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.text, 'Text')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.sig, 'Siegelung')) %>
            <br>
            <%= content_tag :span do %>
              <strong>Maße: </strong>
              <%= linebreak_before_and_show_if_exists(artefact.mas1, false) %><%= ';' if artefact.mas2 || artefact.mas3 %>
              <%= linebreak_before_and_show_if_exists(artefact.mas2, false) %><%= ';' if artefact.mas3 %>
              <%= linebreak_before_and_show_if_exists(artefact.mas3, false) %>         
            <% end if artefact.mas1.present? || artefact.mas2.present? || artefact.mas3.present? %>
          <% end %>

          <%= content_tag :div, id: "text-description-#{artefact.id}", style: 'padding-top: 5px;' do %>
            <strong><em>Text info</em></strong>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.period, 'Periode')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.arkiv, 'Archiv')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.text_in_archiv, 'Text in Archiv')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.jahr, 'Jahr')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.datum, 'Datum')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.zeil2, 'Zeil2')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.zeil1, 'Zeil1')) %>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.inhalt, 'Inhalt')) %>
            <%= content_tag :div do %>
              <strong>Personen: </strong>
              <%= artefact.people.map{|p| "#{p.person}#{' '+p.titel if p.titel.present?}"}.join('; ') %>
            <% end  if artefact.people.any? %>
          <% end if artefact.text.present? %>
        </div>

        <div class="col-md-6">
          <%= content_tag :div, id: "fundort-#{artefact.id}" do %>
            <strong><em>Fundort</em></strong>
            <%= linebreak_before_and_show_if_exists(with_description(artefact.fo_tell, 'Tell')) %>
            <%= content_tag :div do %>
              <strong>Areal: </strong>
              <%= linebreak_before_and_show_if_exists(artefact.fo1, false) %>
              <%= linebreak_before_and_show_if_exists(artefact.fo2, false) %>
              <%= linebreak_before_and_show_if_exists(artefact.fo3, false) %>
              <%= linebreak_before_and_show_if_exists(artefact.fo4, false) %>
            <% end if artefact.fo1 || artefact.fo2 || artefact.fo3 || artefact.fo4 %>

            <%= content_tag :span do %>
              <strong>UTM E </strong>
              <%= artefact.utmx %> (<%= artefact.utmxx %>) 
              <strong>N </strong>
              <%= artefact.utmy %> (<%= artefact.utmyy %>)
            <% end if artefact.utm? %>
                
            <%= linebreak_before_and_show_if_exists(with_description(artefact.fo_text, 'Beschreibung')) %>
            <%= content_tag :div do %>
              <strong>Ausgrabungsdatum: </strong>
              <%= linebreak_before_and_show_if_exists(artefact.gr_datum, false) %>
              <%= linebreak_before_and_show_if_exists(artefact.gr_jahr, false) %>
            <% end if artefact.gr_datum || artefact.gr_jahr %>
          <% end %>

          <%= content_tag :div, id: "photos-#{artefact.id}", style: 'padding-top: 5px;' do %>
            <strong><em>Photos</em></strong> <small>(position)</small><br>
            <%= artefact.illustrations.map{ |i| "#{(i.photo ? link_to(i.name, i.photo) : i.p_rel)}#{' ('+i.position+')' if i.position}" }.join('; ').html_safe %>
          <% end if artefact.illustrations.any? %>

        </div>
         
        <div class="col-md-12">
          <%= content_tag :div, id: "biblio-#{artefact.id}", style: 'padding-top: 10px;' do %>
            <strong>Bibliographie: </strong>
            <%= artefact.references.map{ |r| r.title }.join('; ') %>
          <% end if artefact.references.any? %>
          
          <%= link_to fa_icon('eye', text: 'ansehen'), artefact if current_user  %>
        
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate artefacts, renderer: BootstrapPagination::Rails %>