<div class="panel panel-default">
  <div class="panel-body">

    <% if artefact %>
      <%= content_tag :p, fa_icon('link')+' '+link_to(artefact_url(artefact), artefact_url(artefact)) %>

      <%= link_to(fa_icon("edit", text: 'Edit'), edit_artefact_path(artefact), class: 'btn btn-sm btn-warning pull-right', style: 'margin-top: 5px;') if can? :edit, artefact %>
      <%= content_tag :h3, link_to("#{artefact.name}", artefact) %>
 
      <table class="table table-striped">
        <tbody>
          <%= table_row(artefact.b_join, 'Grabung Joins') %>
          <%= table_row(artefact.b_korr, 'Grabung Korrektur') %>
          <%= table_row(artefact.m_join, 'Museum Joins') %>
          <%= table_row(artefact.m_korr, 'Museum Korrektur') %>
  
          <%= table_row(artefact.kod, 'Code') %>
          <%= table_row(artefact.grab, 'Grab') %>
          <%= table_row(artefact.text, 'Text') %>
          <%= table_row(artefact.sig, 'Sig') %>
  
          <%= table_row(artefact.f_obj, 'Beschreibung') %>
          <%= table_row(artefact.abklatsch, 'Abklatsch') %>
          <%= table_row(artefact.abguss, 'Abguss') %>
          <%= table_row(artefact.period, 'Periode') %>
          <%= table_row("#{artefact.mas1}#{';' if artefact.mas2 || artefact.mas3} #{artefact.mas2}#{';' if artefact.mas3} #{artefact.mas3}".html_safe, 'Maße') if artefact.mas1.present? || artefact.mas2.present? || artefact.mas3.present? %>
  
          <%= table_row(artefact.fo_tell, 'Tell') %>
          <%= table_row("#{artefact.fo1} #{artefact.fo2} #{artefact.fo3} #{artefact.fo4}", 'Areal') %>
          <%= table_row(artefact.fo_text, 'Fundumstände') %>
          <%= table_row("#{artefact.gr_datum}#{artefact.gr_jahr}", 'Grabungsdatum') %>
          <%= table_row("<strong>E</strong> #{artefact.utmx} (#{artefact.utmxx}) <strong>N</strong> #{artefact.utmy} (#{artefact.utmyy})".html_safe, 'UTM') if artefact.utm? %>
  
          <%= content_tag :tr do %>
            <th>Photos <small>(position)</small></th>
            <td><%= artefact.illustrations.map{ |i| "#{(i.photo ? link_to(i.name, i.photo) : i.name)}#{' ('+i.position+')' if i.position}" }.join('; ').html_safe %></td>
          <% end if artefact.illustrations.any? %>
          <%= content_tag :tr do %>
              <th>Bibliographie: </th>
              <td><%= artefact.references.map{ |r| r.title }.join('; ') %></td>
          <% end if artefact.references.any? %>
  
          <%= table_row(artefact.inhalt, 'Textinhalt') %>
          <%= table_row(artefact.arkiv, 'Archiv') %>
          <%= table_row(artefact.text_in_archiv, 'Text in Archiv') %>
          <%= table_row(artefact.jahr, 'Jahr') %>
          <%= table_row(artefact.datum, 'Datum') %>
          <%= table_row(artefact.zeil2, 'Zeil2') %>
          <%= table_row(artefact.zeil1, 'Zeil1') %>
          <%= content_tag :tr do %>
            <th>Personen: </th>
            <td><%= artefact.people.map{|p| "#{p.person}#{' '+p.titel if p.titel.present?}"}.join('; ') %></td>
          <% end if artefact.people.any? %>
          <%= content_tag :div do %>
            <%= table_row(artefact.diss, 'Dissov Id') %>
            <%= table_row(artefact.mus_id, 'Museums Id') %>
            <%= table_row(artefact.standort, 'Standort') %>
            <%= table_row(artefact.standort_alt, 'Standort (alt)') %>
          <% end if current_user.can_edit?(artefact) %> 
        </tbody>
      </table>


    <% end %>
  </div>
</div>