<% title 'Artefacts', false %>

<% content_for :head do %>
  <script src="//maps.google.com/maps/api/js?key=<%= Rails.application.secrets.gmaps_api_key %>"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<% end %>


<div class="row">
  <div class="col-md-12" style="margin-top:10px;">
    <%= form_tag artefacts_path, method: :get, remote: true do %>
      <div class="form-inline row">
        <div class="form-group col-md-9 col-sm-8" style="display: flex; justify-content: space-between;">
          <div class="input-group" style="flex-grow:1;margin-right:-20px;">
            <div class="input-group-addon" style="width:40px;"><%= link_to fa_icon('info'), 'http://babylon-online.org/help/articles/suchen-und-filtern-in-der-app-artefacts', target: :_blank, title: 'Open info page on filtering', data: {toggle: 'tooltip', placement: 'bottom'} %></div>
            <div class="input-group-addon" style="width:40px;"><%= link_to fa_icon('times-circle'), artefacts_path, title: 'Remove all filters / reset page', data: {toggle: 'tooltip', placement: 'bottom'}  %></div>
            <%= search_field_tag 'search', params[:search], placeholder: "Search in all fields", class: 'form-control', id: 'search-artefacts' %>
          </div>
          <%= submit_tag 'Go!', class: 'btn btn-primary', style: 'width:100px;', data: { disable_with: "Loading..." } %>
        </div>
        <div class="form-group col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1">
          <%= select_tag 'sorted_by', options_for_select(Artefact.options_for_sorted_by, params[:sorted_by]), class: 'form-control pull-right', onchange: "this.form.submit()" %>
        </div>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="margin-top:10px;">
        <%= content_tag :div, class: 'panel panel-default' do %>
          <div class="panel-heading" role="tab" id="AdminFilterHeading">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#AdminFilter" aria-expanded="false" aria-controls="AdminFilter">
                Administrative filters
              </a>
            </h4>
          </div>
          <div id="AdminFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AdminFilterHeading">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= check_box_tag :with_published_records, true, params[:with_published_records], onchange: "this.form.submit()" %>
                    <%= label_tag(:with_published_records, 'Published records only') %>
                  </div>
                  <div class="form-group">
                    <%= check_box_tag :with_unshared_records, true, params[:with_unshared_records], onchange: "this.form.submit()" %>
                    <%= label_tag(:with_unshared_records, 'Records not shared to anyone') %>
                  </div>
                  <div class="form-group">
                    <%= label_tag(:with_user_shared_to_like, 'Records shared to') %>
                    <%= select_tag(:with_user_shared_to_like, options_from_collection_for_select(User.all, 'id', 'name', params[:with_user_shared_to_like]), include_blank: '- Any -', class: 'form-control', onchange: "this.form.submit()") %>
                    <p class="text-muted">Results also include groups a user belongs to</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end if can_create? || can_administrate? %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="well" style="padding:10px 10px;">
      <span id="page-result-info">
        <%= page_entries_info @artefacts, model: 'Artefact' %>
      </span>
      <span class="pull-right">
        <%= link_to fa_icon('map', text: 'Show Map'), mapview_artefacts_path(search: params[:search]), class: 'btn btn-default btn-sm text-strong', style:'margin-top: -2px;line-height:1;', remote: true, data: {toggle: "modal", target: '#mapviewModal'} %>
      </span>
    </div>
  </div>
  <div class="col-md-5">
    <%= content_tag :div, class: '' do %>
      <%= link_to fa_icon('plus', text: 'Artefact'), new_artefact_path, class: 'btn btn-success text-strong pull-right' if can?(:create, Artefact) %>
    <% end %>
    <small>Data can be downloaded as 'json'. Add .json as format to the url and '?/&all=true' as fragment to view the full set.</small>
  </div>
</div>

<%= render(partial: 'artefacts/list', locals: { artefacts: @artefacts }) if @artefacts.any? %>

<div style="margin-top: 20px; margin-bottom: 10px;">
  <%= render 'shared/per_page' %>
</div>

<% content_for :modals do %>
  <div id="mapviewModal" class="modal fade" role="dialog" aria-labelledby="mapviewModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style='width: 100%; height: 530px;'>
          <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="modal-footer clearfix">
          <p class="text-muted">
            <%= link_to 'Close', '', data: {dismiss: 'modal'}, aria: {hidden: 'true'}, class: 'btn btn-default' %>
          </p>
        </div>
      </div>
    </div>
  </div>

<% end %>
