<div class="row">
  <div class="col-md-12 page-header">
    <% if @artefact.grabung %>
      <%= content_tag :h1, "#{@artefact.bab_name} <small>#{@artefact.mus_name}</small>".html_safe %>
    <% else %>
      <%= content_tag :h1, "#{@artefact.mus_name}" %>
    <% end %>
    
    <%= content_tag :p do %>
      <strong>Grabung Joins:</strong>
      <%= @artefact.b_join %>
    <% end if @artefact.b_join %>
    
    <%= content_tag :p do %>
      <strong>Grabung Korrektur:</strong>
      <%= @artefact.b_korr %>
    <% end if @artefact.b_korr %>
    
    <%= content_tag :p do %>
      <strong>Museum Joins:</strong>
      <%= @artefact.m_join %>
    <% end if @artefact.m_join %>
    
    <%= content_tag :p do %>
      <strong>Museum Korrektur:</strong>
      <%= @artefact.m_korr %>
    <% end if @artefact.m_korr %>
  </div>
</div>  

<div class="row">
  <div class="col-md-3">


<p>
  <strong>Kod:</strong>
  <%= @artefact.kod %>
</p>

<p>
  <strong>Grab:</strong>
  <%= @artefact.grab %>
</p>

<p>
  <strong>Text:</strong>
  <%= @artefact.text %>
</p>

<p>
  <strong>Sig:</strong>
  <%= @artefact.sig %>
</p>

<p>
  <strong>Diss:</strong>
  <%= @artefact.diss %>
</p>

<p>
  <strong>Mus:</strong>
  <%= @artefact.mus_id %>
</p>

<p>
  <strong>Standort alt:</strong>
  <%= @artefact.standort_alt %>
</p>

<p>
  <strong>Standort:</strong>
  <%= @artefact.standort %>
</p>

<p>
  <strong>Mas1:</strong>
  <%= @artefact.mas1 %>
</p>

<p>
  <strong>Mas2:</strong>
  <%= @artefact.mas2 %>
</p>

<p>
  <strong>Mas3:</strong>
  <%= @artefact.mas3 %>
</p>
</div>
<div class="col-md-3">
<p>
  <strong>F obj:</strong>
  <%= @artefact.f_obj %>
</p>

<p>
  <strong>Abklatsch:</strong>
  <%= @artefact.abklatsch %>
</p>

<p>
  <strong>Abguss:</strong>
  <%= @artefact.abguss %>
</p>

<p>
  <strong>Fo tell:</strong>
  <%= @artefact.fo_tell %>
</p>

<p>
  <strong>Fo1:</strong>
  <%= @artefact.fo1 %>
</p>

<p>
  <strong>Fo2:</strong>
  <%= @artefact.fo2 %>
</p>

<p>
  <strong>Fo3:</strong>
  <%= @artefact.fo3 %>
</p>

<p>
  <strong>Fo4:</strong>
  <%= @artefact.fo4 %>
</p>

<p>
  <strong>Fo text:</strong>
  <%= @artefact.fo_text %>
</p>

<p>
  <strong>Utmx:</strong>
  <%= @artefact.utmx %>
</p>

<p>
  <strong>Utmxx:</strong>
  <%= @artefact.utmxx %>
</p>

<p>
  <strong>Utmy:</strong>
  <%= @artefact.utmy %>
</p>

<p>
  <strong>Utmyy:</strong>
  <%= @artefact.utmyy %>
</p>
<p>
<%= @artefact.gr_datum %><%= @artefact.gr_jahr %>
</p>

</div>
<div class="col-md-3">
<p>
  <strong>Inhalt:</strong>
  <%= @artefact.inhalt %>
</p>

<p>
  <strong>Period:</strong>
  <%= @artefact.period %>
</p>

<p>
  <strong>Arkiv:</strong>
  <%= @artefact.arkiv %>
</p>

<p>
  <strong>Text in archiv:</strong>
  <%= @artefact.text_in_archiv %>
</p>

<p>
  <strong>Jahr:</strong>
  <%= @artefact.jahr %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @artefact.datum %>
</p>

<p>
  <strong>Zeil2:</strong>
  <%= @artefact.zeil2 %>
</p>

<p>
  <strong>Zeil1:</strong>
  <%= @artefact.zeil1 %>
</p>

  </div>
  <% for img in @illustrations.take(1) do %>
    <div class="col-md-3">
      <%= render 'shared/image_thumb', img: img %>
    </div>
  <% end %>
</div>

<%= link_to 'remove', @artefact, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
<%= link_to 'Edit', edit_artefact_path(@artefact) %> |
<%= link_to 'Back', artefacts_path %>
