<% title "#{@artefact.name} | Artefacts", false %>

<% content_for(:buttons) do %>
  <% if @artefact.locked? %>
    This object is currently locked. <%= 'Because it is published.' if @artefact.versions.last.event == 'publish' if @artefact.versions.any? %>
    <%= link_to fa_icon('unlock', text: 'Unlock'), unlock_artefact_path(@artefact), method: :put, class: 'btn btn-default btn-sm text-strong' if can?(:unlock, @artefact) %>
  <% else %>
    <button type="button" class="btn btn-default btn-sm text-strong" data-toggle="modal" data-target="#access-settings">
      <%= fa_icon('eye', text: 'Accessibility') %>
    </button>
    <%= link_to fa_icon('check-square-o', text: 'Publish'), publish_artefact_path(@artefact), method: :put, class: 'btn btn-default btn-sm text-strong' if can?(:publish, @artefact) %>
  <% end %>
  <%= link_to fa_icon('edit', text: 'Edit'), edit_artefact_path(@artefact), class: 'btn btn-warning btn-sm text-strong' if can?(:edit, @artefact) %>
  <%= link_to fa_icon('remove', text: 'Delete'), @artefact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm text-strong' if can?(:destroy, @artefact) %>
<% end unless @version %>

<% content_for :head do %>
  <script src="//maps.google.com/maps/api/js?key=<%= Rails.application.secrets.gmaps_api_key %>"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<% end %>

<%= content_tag :div, class: 'row --spacing-20' do %>
  <% @artefact.illustrations.each do |illu| %>
    <% illu.source.attachments.each do |file| %>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <%= link_to file.file_url, class: 'lightbox-link' do %>
            <%= image_tag file.file_url, class: 'img-responsive', style: 'max-height:200px;' %>
          <% end if file.file_url %>
          <div class="caption">
            <%= content_tag :p, link_to(file.file_id, file.html_url, class: 'text-small'), style: 'margin-bottom: 0px;' %>
            <%= content_tag :p, "#{link_to(illu.source.call_number, illu.source)} #{'(' + illu.position + ')' if illu.position}".html_safe %>
          </div>
        </div>
      </div>
    <% end if illu.source.present? && illu.source.attachments.any? %>
  <% end %>
<% end if !@version && @artefact.illustrations.any? %>

<div class="row">
  <div class="col-md-6">
    <%= content_tag :div, id: 'data', class: '' do %>
      <table class="table table-striped">
        <tbody>
          <%= table_row(@artefact.bab_name, 'Excavation No') %>
          <%= table_row(@artefact.b_join, 'Grabung Joins') %>
          <%= table_row(@artefact.b_korr, 'Grabung Korrektur') %>
          <%= table_row(@artefact.mus_name, 'Museum No') if can?(:read, 'museum_internals') %>
          <%= table_row(@artefact.m_join, 'Museum Joins') if can?(:read, 'museum_internals') %>
          <%= table_row(@artefact.m_korr, 'Museum Korrektur') if can?(:read, 'museum_internals') %>
          <%= content_tag :tr do %>
            <th>
              Tags:
              <%= content_tag :p, link_to('(update)', update_tags_artefact_path(@artefact), method: :put), class: 'text-small', style: 'font-weight:normal' if can?(:update_tags, @artefact) %>
            </th>
            <td>
              <ul class="list-unstyled">
                <% @artefact.tags.each do |t| %>
                  <%= content_tag :li, 
                    content_tag(:span, link_to(t.name, t.try(:concept_data).try(:[], 'html_url'), 
                      style: 'color:white;', 
                      target: :_blank,
                      title: t.try(:concept_data).try(:[], 'default_label'),
                      data: {
                        toggle: "popover",
                        content: prettify_concept_hash(t.try(:concept_data)),
                        trigger: 'hover',
                        container: 'body',
                        placement: 'right',
                        html: true
                      }),
                      class: 'badge') %>
                <% end %>
              </ul>
            </td>
          <% end if @artefact.tags.any? %>
          <%= table_row(@artefact.kod, 'Code') %>
          <%= table_row(@artefact.code, 'Code (text)') %>
          <%= table_row(@artefact.grab, 'Grab') %>
          <%= table_row(@artefact.text, 'Text') %>
          <%= table_row(@artefact.text_solution, 'Text (text)') %>
          <%= table_row(@artefact.sig, 'Sig') %>
          <%= table_row(@artefact.f_obj, 'Beschreibung') %>
          <%= table_row(@artefact.abklatsch, 'Abklatsch') %>
          <%= table_row(@artefact.zeichnung, 'Zeichnung') %>
          <%= table_row(@artefact.period, 'Periode') %>
          <%= table_row("#{@artefact.mas1}#{';' if @artefact.mas2 || @artefact.mas3} #{@artefact.mas2}#{';' if @artefact.mas3} #{@artefact.mas3}".html_safe, 'Maße') if @artefact.mas1.present? || @artefact.mas2.present? || @artefact.mas3.present? %>
          <%= table_row(@artefact.fo_tell, 'Tell') %>
          <%= table_row("#{@artefact.fo1} #{@artefact.fo2} #{@artefact.fo3} #{@artefact.fo4}", 'Areal') %>
          <%= table_row(@artefact.fo_text, 'Fundumstände') %>
          <%= table_row("#{@artefact.gr_datum}#{@artefact.gr_jahr}", 'Grabungsdatum') %>
          <%= content_tag :tr do %>
            <th>Koordinaten (WGS84): </th>
            <td>
              <strong>UTM</strong><br>
              Z: 38S E: <%= @artefact.utmx %> N: <%= @artefact.utmy %><br>
              <strong>Dezimalgrad</strong><br>
              <%= [@artefact.latitude, @artefact.longitude].join(', ') %> (Lat, Lon)
              <p class="text-small">Genauigkeit: E: ~<%= @artefact.utmxx %>m, N: ~<%= @artefact.utmyy %>m</p>
            </td>
          <% end if @artefact.utm? %>
          <%= content_tag :tr do %>
            <th>
              Archivalien
              <%= link_to fa_icon('info'), 'javascript:;',
                class: 'label label-info', 
                data: {toggle: 'tooltip', placement: 'top'}, 
                title: 'Position: First number counts row from top to bottom, second number counts position from left to right, e.g. PhBab 1867 (4 2) means artifact ist displayed in 4th row from top and 2nd position from left on picture PhBab 1867.' %>
            </th>
            <td>
              <ul style="padding-left:15px;">
                <% @artefact.illustrations.each do |i| %>
                  <%= content_tag :li, "#{(i.source ? link_to(i.source.name, i.source) : i.name)}#{' ('+i.position+')' if i.position}".html_safe %>
                <% end %>
              </ul>
            </td>
          <% end if @artefact.illustrations.any? %>
          <%= content_tag :tr do %>
            <th>Bibliographie: </th>
            <td>
              <ul style="padding-left:15px;">
                <% @artefact.references.each do |r| %>
                  <%= content_tag :li, "#{link_to(r.try(:literature_item).try(:full_citation).try(:html_safe), r.literature_item)}#{r.locator ? ': '+r.locator : ''}".html_safe %>
                <% end %>
              </ul>
            </td>
          <% end if @artefact.references.any? %>

          <%= table_row(@artefact.inhalt, 'Textinhalt') %>
          <%= table_row(@artefact.arkiv, 'Archiv') %>
          <%= table_row(@artefact.text_in_archiv, 'Text in Archiv') %>
          <%= table_row(@artefact.jahr, 'Jahr') %>
          <%= table_row(@artefact.datum, 'Datum') %>
          <%= table_row(@artefact.zeil2, 'Zeil2') %>
          <%= table_row(@artefact.zeil1, 'Zeil1') %>
          <%= content_tag :tr do %>
            <th>Personen: </th>
            <td><%= @artefact.people.map{|p| "#{p.person}#{' '+p.titel if p.titel.present?}"}.join('; ') %></td>
          <% end if @artefact.people.any? %>
          <%= content_tag :div do %>
            <%= table_row(@artefact.diss, 'Dissov Id') if can?(:read, 'museum_internals') %>
            <%= table_row(@artefact.mus_id, 'Museums Id') if can?(:read, 'museum_internals') %>
            <%= table_row(@artefact.standort, 'Standort') if can?(:read, 'museum_internals') %>
            <%= table_row(@artefact.standort_alt, 'Standort (alt)') if can?(:read, 'museum_internals') %>
          <% end if can? :edit, @artefact %>         
        </tbody>
      </table>
    <% end %>

    <%= content_tag :div, id: 'stats' do %>
      <%= link_to 'Toggle stats', "#collapse-stats-on-#{@artefact.id}", 
        data: { toggle: 'collapse' }, 
        aria: {expanded: 'false', controls: "collapse-stats-on-#{@artefact.id}"}, 
        class: 'toggle-link', 
        role: 'button' %>
      <%= content_tag :div, class: 'collapse more-stats', id: "collapse-stats-on-#{@artefact.id}" do %>
        <%= pie_chart(@contributions, width: "100%", height: "180px", legend: "right") %>
        <p class="text-small text-muted text-center" style="margin-top:10px;">
          Changed characters by contributor.
        </p>
        <%= line_chart(@growth, height: '180px') %>
        <p class="text-small text-muted text-center" style="margin-top:10px;">Total characters changed.</p>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <%= content_tag :div, style: 'width: 100%;', class: "" do %>
      <div class="thumbnail" style="margin-bottom:5px;">
        <div id="map-render" style='width: 100%; height: 400px;'></div>
      </div>
      <p class="text-small text-muted">Auf der Karte wird ein Verschiebungsvektor von E -27m und N -7m gegenüber den genannten UTM-Koordinaten angewendet, um eine annähernd korrekte Darstellung des ursprünglichen Fundplatzes zu erreichen.</p>
    <% end if @artefact.utm? %>
  </div>
</div>
<%= content_tag :div, class: "row" do %>
  <div class="col-md-12 --spacing">
    <%= content_tag :div, id: "TEI", data: {'xml-url': @text_url} do %>
      Loading ...
    <% end %>
  </div>
<% end if @text_url %>

<% if @artefact.utm? %>
  <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({
          provider: {
            mapTypeId: google.maps.MapTypeId.SATELLITE
          },
          internal: {
            id: 'map-render'
          }
        },
        function(){
          markers = handler.addMarkers([
            {
              "lat": <%= @artefact.to_lat_lon('38S', -27, -7).lat %>,
              "lng": <%= @artefact.to_lat_lon('38S', -27, -7).lon %>,
              "infowindow": "<%= "#{@artefact.full_entry}#{' ('+@artefact.kod+')' if @artefact.kod}#{', '+@artefact.f_obj if @artefact.f_obj}" %>"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        }
      );

  </script>
<% end %>

<% content_for :modals do %>
  <!-- Modal -->
  <div class="modal fade" id="access-settings" tabindex="-1" role="dialog" aria-labelledby="access-settings-heading">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="access-settings-heading">Accessibility settings</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'grants/list', locals: { resource: @artefact } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default text-strong" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>