<% content_for :head do %>
  <script src="//maps.google.com/maps/api/js?key=<%= Rails.application.secrets.gmaps_api_key %>"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<% end %>

<div class="row">
  <div class="col-md-12 page-header">
    <div class="row">
      <div class="col-md-10">
        <% if @artefact.grabung %>
          <%= content_tag :h1, "#{@artefact.bab_name} <small>#{@artefact.mus_name}</small>".html_safe %>
        <% else %>
          <%= content_tag :h1, "#{@artefact.mus_name}" %>
        <% end %>
      </div>
      
      <div class="col-md-2">
        <%= content_tag :div, id: 'buttons', class: 'pull-right', style: 'margin-top:20px;' do %>
          <%= link_to 'Delete', @artefact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' if can?(:destroy, @artefact) %>
          <%= link_to 'Edit', edit_artefact_path(@artefact), class: 'btn btn-default' if can?(:update, @artefact) %>
        <% end %>
        
      </div>
    </div>
  </div>
</div>  

<div class="row">
  <div class="col-md-6">
    <p><span class="badge"><%= @artefact.accessors.map(&:name).join(', ') %></span></p>
    <table class="table table-striped">
      <tbody>
        <%= table_row(@artefact.b_join, 'Grabung Joins') %>
        <%= table_row(@artefact.b_korr, 'Grabung Korrektur') %>
        <%= table_row(@artefact.m_join, 'Museum Joins') %>
        <%= table_row(@artefact.m_korr, 'Museum Korrektur') %>
        <tr><th></th><td></td></tr>
        <%= table_row(@artefact.kod, 'Code') %>
        <%= table_row(@artefact.grab, 'Grab') %>
        <%= table_row(@artefact.text, 'Text') %>
        <%= table_row(@artefact.sig, 'Sig') %>
        <tr><th></th><td></td></tr>
        <%= table_row(@artefact.f_obj, 'Beschreibung') %>
        <%= table_row(@artefact.abklatsch, 'Abklatsch') %>
        <%= table_row(@artefact.abguss, 'Abguss') %>
        <%= table_row(@artefact.period, 'Periode') %>
        <%= table_row("#{@artefact.mas1}#{';' if @artefact.mas2 || @artefact.mas3} #{@artefact.mas2}#{';' if @artefact.mas3} #{@artefact.mas3}".html_safe, 'Maße') if @artefact.mas1.present? || @artefact.mas2.present? || @artefact.mas3.present? %>
        <tr><th></th><td></td></tr>
        <%= table_row(@artefact.fo_tell, 'Tell') %>
        <%= table_row("#{@artefact.fo1} #{@artefact.fo2} #{@artefact.fo3} #{@artefact.fo4}", 'Areal') %>
        <%= table_row(@artefact.fo_text, 'Fundumstände') %>
        <%= table_row("#{@artefact.gr_datum}#{@artefact.gr_jahr}", 'Grabungsdatum') %>
        <%= table_row("<strong>E</strong> #{@artefact.utmx} (#{@artefact.utmxx}) <strong>N</strong> #{@artefact.utmy} (#{@artefact.utmyy})".html_safe, 'UTM') if @artefact.utm? %>
        <tr><th></th><td></td></tr>
        <%= content_tag :tr do %>
          <th>Photos <small>(position)</small></th>
          <td><%= @artefact.illustrations.map{ |i| "#{(i.photo ? link_to(i.name, i.photo) : i.p_rel)}#{' ('+i.position+')' if i.position}" }.join('; ').html_safe %></td>
        <% end if @artefact.illustrations.any? %>
        <%= content_tag :tr do %>
            <th>Bibliographie: </th>
            <td><%= @artefact.references.map{ |r| r.title }.join('; ') %></td>
        <% end if @artefact.references.any? %>
        <tr><th></th><td></td></tr>
        <%= table_row(@artefact.inhalt, 'Textinhalt') %>
        <%= table_row(@artefact.arkiv, 'Archiv') %>
        <%= table_row(@artefact.text_in_archiv, 'Text in Archiv') %>
        <%= table_row(@artefact.jahr, 'Jahr') %>
        <%= table_row(@artefact.datum, 'Datum') %>
        <%= table_row(@artefact.zeil2, 'Zeil2') %>
        <%= table_row(@artefact.zeil1, 'Zeil1') %>
        <%= content_tag :tr do %>
          <th>Personen: </th>
          <td><%= @artefact.people.map{|p| "#{p.person}#{' '+p.titel if p.titel.present?}"}.join('; ') %></td>
        <% end if @artefact.people.any? %>
        <%= content_tag :div do %>
          <tr><th></th><td></td></tr>
          <%= table_row(@artefact.diss, 'Dissov Id') %>
          <%= table_row(@artefact.mus_id, 'Museums Id') %>
          <%= table_row(@artefact.standort, 'Standort') %>
          <%= table_row(@artefact.standort_alt, 'Standort (alt)') %>
        <% end if current_user %>         
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <%= content_tag :div, style: 'width: 100%;', class: "thumbnail" do %>
      <div id="map" style='width: 100%; height: 400px;'></div>
    <% end if @artefact.utm? %>
    <div class="row">
      <% for img in @illustrations do %>
        <div class="col-md-6"><%= render 'shared/image_thumb', img: img %></div>
      <% end %>
    </div>
  </div>
</div>

<% if @artefact.utm? %>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        mapTypeId: google.maps.MapTypeId.SATELLITE
      },
      internal: {
        id: 'map'
      }
    },
    function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @artefact.to_lat_lon('38S').lat %>,
          "lng": <%= @artefact.to_lat_lon('38S').lon %>,
          "infowindow": "<%= "#{@artefact.full_entry}#{' ('+@artefact.kod+')' if @artefact.kod}#{', '+@artefact.f_obj if @artefact.f_obj}" %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    }
  );
</script>
<% end %>