<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | adgb.babylon-online.org" : 'adgb.babylon-online.org' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= yield(:head) if content_for?(:head) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
DSL0000258575007@s93.bbi-o2.de
eu5hbu0vh1
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to fa_icon('chevron-up'), 'http://babili.babylon-online.org', class: "navbar-brand", style: "margin-right:20px;" %>
          <%= link_to 'adgb.babylon-online.org', root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown visible-xs-block" style="margin-left:20px;">
              <p class="navbar-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon('th-large', text: "Menu") %>
                <span class="caret"></span>
              </p>
              <ul class="dropdown-menu">
                <%= render 'shared/nav' %>
              </ul>
            </li>
            <% if current_user %>
              <li class="dropdown" style="margin-left:20px;">
                <p class="navbar-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= fa_icon('user', text: "#{current_user.try(:name)}") %>
                  <span class="caret"></span>
                </p>

                <ul class="dropdown-menu">
                  <%= content_tag :li, link_to(fa_icon('cog', text: "Settings"), settings_users_path) if current_user %>
                  <%= content_tag :li, link_to(fa_icon('upload', text: "Import"), imports_path), class: ('active' if current_page?(imports_url)) if can?(:import, Artefact) %>
                  <%= content_tag :li, link_to(fa_icon('users', text: "Users"), users_path) if can_administrate? %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to fa_icon('sign-out', text: "Sign Out"), signout_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to fa_icon('sign-in', text: "Sign in through Bab-ili"), "/auth/babili" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% flash.each do |message_type, message| %>
      <%= javascript_tag "toastr['#{ message_type == 'notice' ? 'info' : (message_type == 'alert' ? 'warning' : message_type) }']('#{message}')" %>
    <% end %>

    <div class="container-fluid" style="margin-top: 60px;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar hidden-xs">
          <ul class="nav nav-pills nav-stacked">
            <%= render 'shared/nav' %>
          </ul>
        </div>

        <div class="col-sm-9 col-md-10 main">
          <% if content_for?(:content) %>

            <%= yield(:content) %>

          <% else %>

            <%= content_tag :div, class: "page-header" do %>
              <h1 class="">
                <%= yield(:title) if content_for?(:title) %>
                <div class="pull-right">
                  <%= yield(:buttons) if content_for?(:buttons) %>
                </div>
              </h1>
            <% end if content_for?(:buttons) || content_for?(:title) && @show_header %>

            <%= yield %>

          <% end %>

        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <ul class="footer-links">
              <span class="footer-links-left">
                <li>&copy; <%= Time.now.strftime("%Y") %> adgb.babylon-online.org (v. <%= APP_VERSION %> | ruby <%= RUBY_VERSION %>, rails <%= Rails.version %>)</li>
                <li><%= link_to "Terms", 'http://babylon-online.org/help/categories/site' %></li>
                <li><%= link_to "Security", 'http://babylon-online.org/settings/security' %></li>
              </span>
              <span class="footer-links-right">
                <li><%= link_to "Help", 'http://babylon-online.org/help/categories' %></li>
                <li><%= link_to "Contact", "http://babylon-online.org/contact?origin=adgb" %></li>
                <li><%= link_to "API", 'http://babylon-online.org/developer' %></li>
                <li><%= link_to "Blog", 'http://babylon-online.org/blog' %></li>
                <li><%= link_to "About", 'http://babylon-online.org/about' %></li>
              </span>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  <%= yield(:modals) if content_for?(:modals) %>
  </body>
</html>
