<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'adgb.babylon-online.org' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= yield(:head) if content_for?(:head) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'adgb.babylon-online.org', root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown visible-xs-block" style="margin-left:20px;">
              <p class="navbar-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon('th-large', text: "Menu") %>
                <span class="caret"></span>
              </p>
              <ul class="dropdown-menu">
                <%= render 'shared/nav' %>
              </ul>
            </li>            
            <% if current_user %> 
              <li class="dropdown" style="margin-left:20px;">
                <p class="navbar-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= fa_icon('user', text: "#{current_user.try(:name)}") %>
                  <span class="caret"></span>
                </p>

                <ul class="dropdown-menu">
                  <%= content_tag :li, link_to(fa_icon('cog', text: "Settings"), settings_users_path) if current_user %>
                  <%= content_tag :li, link_to(fa_icon('users', text: "Users"), users_path) if can_administrate? %>
                  <li role="separator" class="divider"></li>        
                  <li><%= link_to fa_icon('sign-out', text: "Sign Out"), signout_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to fa_icon('sign-in', text: "Sign in through Bab-ili"), "/auth/babili" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top: 60px;">
      <div class="row">      
        <div class="col-sm-3 col-md-2 sidebar hidden-xs">
          <ul class="nav nav-pills nav-stacked">
            <%= render 'shared/nav' %>
          </ul>
        </div>

        <div class="col-sm-9 col-md-10 main">
          <%= content_tag :div, class: "page-header" do %>
            <h1 class="">
              <%= yield(:title) if content_for?(:title) %>
              <div class="pull-right">
                <%= yield(:buttons) if content_for?(:buttons) %>
              </div>
            </h1>
          <% end if content_for?(:buttons) || content_for?(:title) && @show_header %>
          
          <%= content_tag :div, class: 'row' do %>
            <div class="col-md-12">
              <%= content_tag :div, class: "alert alert-info" do %>
                <%= notice %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              <% end if notice %>
              <%= content_tag :div, class: "alert alert-danger" do %>
                <%= alert %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              <% end if alert %>
            </div>
          <% end if alert || notice %>
          
          <%= yield %>

        </div>
      </div>
    </div>
    
    <footer class="footer">
      <nav class="navbar navbar-default navbar-static-bottom">
        <div class="container-fluid">  
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-bottom" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to '@babili.babylon-online.org', "#{Rails.application.secrets.provider_site}", class: "navbar-brand" %>
          </div>
          
          <div id="navbar-bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"> 
              <li><%= link_to "About", "#{Rails.application.secrets.provider_site}/about" %></li>
              <li><%= link_to "Imprint", "#{Rails.application.secrets.provider_site}/imprint" %></li>
              <li><%= link_to 'Contact', "#{Rails.application.secrets.provider_site}/contact?origin=adgb" %></li>
            </ul>
            <p class="navbar-text navbar-right" style="margin-right:0px;">
              <small>
                git commit <%= link_to APP_VERSION, 'https://github.com/toboter/adgb', target: :blank %> |  
                ruby <%= RUBY_VERSION %>, 
                rails <%= Rails.version %>
              </small>
            </p>
          </div>        
        </div>
      </nav>
    </footer>

  <%= yield(:modals) if content_for?(:modals) %>
  </body>
</html>
